<div class="app-bus-module module-header d-flex align-items-center justify-content-between px-1">
  <div class="d-flex align-items-center">
    <mat-icon fontSet="material-icons-outlined" class="pr-1">directions_bus</mat-icon>
    <span class="mat-subheading-1 mb-0 font-weight-bold">{{'GENERAL.BUS' | translate}}</span>
  </div>
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="openNewBusDialog()">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()">
      <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="busService.isLoading" class="w-100" style="position: absolute"><mat-progress-bar
    mode="indeterminate"></mat-progress-bar></div>

<div class="module-body d-flex" style="overflow: hidden !important;">
  <div class="bus-list" style="width: 20%">
    <div class="p-1" style="height: 5%;">
      <mat-form-field [floatLabel]="'never'" appearance="outline" class="w-100 pb-0">
        <input type="text" matInput placeholder="{{'GENERAL.SEARCH_BUS_HINT' | translate}}"
          [(ngModel)]="busService.filter.keyword" (keyup)="busService.search()" autocomplete="off" spellcheck="false">
        <button tabindex="-1" type="button" matSuffix mat-icon-button aria-label="Clear" (click)="resetKeyword()"
          *ngIf="busService.filter.keyword">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="px-1 overflow-auto" style="height: 95%;">
      <ng-container *ngIf="busService.filteredBuses.length > 0">
        <mat-selection-list #busList [multiple]="false"
          (selectionChange)="handleSelectionChange(busList.selectedOptions.selected)">
          <mat-list-option *ngFor="let bus of busService.filteredBuses" [value]="bus">
            <mat-list-item>
              <div matListItemAvatar class="mr-3">
                <div class="d-flex align-items-center justify-content-center profile">
                  <button *ngIf="!bus.avatar" mat-mini-fab color="accent" class="profile-image">
                    {{bus.code[0]|uppercase}}
                  </button>
                  <button *ngIf="bus.avatar" mat-mini-fab color="accent" class="profile-image">
                    <img src="{{bus.imageUrl}}" style="width:100%;object-fit:cover;aspect-ratio: 1/1;">
                  </button>
                </div>
              </div>
              <div class="d-flex flex-column w-100">
                <div class="d-flex align-items-center justify-content-between w-100">
                  <span class="title" matTooltip="{{bus.code}}">{{bus.code}}</span>
                </div>
                <span class="sub-title" style="margin-top:4px;">{{bus.licensePlate}}</span>
              </div>
            </mat-list-item>
          </mat-list-option>
        </mat-selection-list>
      </ng-container>
      <div class="d-flex flex-column justify-content-center align-items-center m-4" *ngIf="busService.isEmpty">
        <div><img src="assets/img/no-data.svg" width="84" /></div>
        <div>{{'GENERAL.NO_DATA' | translate}}</div>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="align-items-center" style="width: 80%;" *ngIf="selectedBus">
    <app-bus-detail [selectedBus]="selectedBus"></app-bus-detail>
  </div>
</div>