<div mat-dialog-title class="mat-dialog-title warn">
  <div class="d-flex align-items-center">
    <div class="circle">
      <mat-icon fontSet="material-icons-outlined">do_not_disturb</mat-icon>
    </div>
    <span class="title pl-1">{{'ERROR_403_DIALOG.TITLE' | translate}}</span>
  </div>
</div>
<div mat-dialog-content>
  {{'ERROR_403_DIALOG.DESC' | translate}}
</div>
<div mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>{{'GENERAL.CLOSE' | translate}}</button>
</div>
