<div class="app-bus-stop-editor-dialog">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">add</mat-icon>
      </div>
      <span class="title pl-1">{{title}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <form id="myForm" [formGroup]="form" (ngSubmit)="confirm()" class="d-flex flex-column">
      <mat-label class="font-weight-bold">{{'GENERAL.IMAGE' | translate}}</mat-label>
      <div class="mt-1 mb-2 d-flex flex-column justify-content-center">
        <a *ngIf="!fileUploadService.imageSrc" class="ml-1" mat-button [routerLink]=""
          (click)="fileUpload.click()">{{'GENERAL.SELECT_FILE' | translate}}</a>
        <input type="file" accept=".png,.jpg,.jpeg" (change)="avatarUpload($event)" #fileUpload style="display:none">
        <div class="d-flex align-items-center justify-content-center">
          <img *ngIf="fileUploadService.imageSrc" src="{{fileUploadService.imageSrc}}"
            style="width:200px;object-fit:cover" />
        </div>
        <div class="d-flex justify-content-center">
          <button mat-button type="button" tabindex="-1" color="warn" *ngIf="fileUploadService.imageSrc"
            (click)="fileUploadService.removeImage()"><span>{{'GENERAL.CLEAR_ITEM' | translate}}</span></button>
        </div>
      </div>

      <mat-label class="font-weight-bold">{{'GENERAL.CODE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="code" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['code'].value" matSuffix mat-icon-button
          (click)="form.controls['code'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['code'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.NAME' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="name" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['name'].value" matSuffix mat-icon-button
          (click)="form.controls['name'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['name'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <div class="d-flex w-100">
        <div class="w-50 mr-1">
          <mat-label class="font-weight-bold">{{'GENERAL.LATITUDE' | translate}}</mat-label>
          <mat-form-field class="w-100 required" [hideRequiredMarker]="true" [floatLabel]="'never'"
            appearance="outline">
            <input type="number" matInput formControlName="latitude" autocomplete="off" spellcheck="false" />
            <mat-error *ngIf="form.controls['latitude'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="w-50">
          <mat-label class="font-weight-bold">{{'GENERAL.LONGITUDE' | translate}}</mat-label>
          <mat-form-field class="w-100 required" [hideRequiredMarker]="true" [floatLabel]="'never'"
            appearance="outline">
            <input type="number" matInput formControlName="longitude" autocomplete="off" spellcheck="false" />
            <mat-error *ngIf="form.controls['longitude'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="mb-2" style="height: 40vh;">
        <google-map height="100%" width="100%" [options]="options" [center]="center" [zoom]="zoom"
          (mapMousemove)="move($event)">
          <map-marker #marker="mapMarker" [position]="center" [options]="markerOptions"
            (mapClick)="openInfoWindow(marker)" (mapMouseup)="markerDragEnd($event)">
            <map-info-window #infoWindo>
              <div class="d-flex flex-column">
                <span class="mb-1 font-weight-bold">{{'GENERAL.NAME' | translate}}: {{form.value.name}}</span>
                <span class="font-weight-bold">{{'GENERAL.CODE' | translate}}: {{form.value.code}}</span>
              </div>
            </map-info-window>
          </map-marker>
        </google-map>
      </div>

      <mat-label class="font-weight-bold">{{'GENERAL.ROAD_NAME' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="roadName" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['roadName'].value" matSuffix mat-icon-button
          (click)="form.controls['roadName'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['roadName'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.LANDMARK' | translate}} (Optional)</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="landmark" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['landmark'].value" matSuffix mat-icon-button
          (click)="form.controls['landmark'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.STATUS' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="status">
          <mat-option value="Open">{{'GENERAL.OPEN' | translate}}</mat-option>
          <mat-option value="Closed">{{'GENERAL.CLOSED' | translate}}</mat-option>
          <mat-option value="Under Construction">{{'GENERAL.UNDER_CONSTRUCTION' | translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['status'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.CITY' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="city" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['city'].value" matSuffix mat-icon-button
          (click)="form.controls['city'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['city'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.COUNTRY' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="country" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['country'].value" matSuffix mat-icon-button
          (click)="form.controls['country'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['country'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.TIMEZONE_UTC' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="timezoneUTC">
          <mat-option *ngFor="let timeZoneUtc of timeZones" [value]="timeZoneUtc">
            {{ timeZoneUtc }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['timezoneUTC'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="(!form.valid || isSaving)" (click)="confirm()">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isSaving">{{'GENERAL.SAVE' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isSaving">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'GENERAL.CANCEL' | translate}}</button>
  </div>
</div>