<div class="app-bus-delete-dialog">
  <div mat-dialog-title class="mat-dialog-title warn" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">delete_outline</mat-icon>
      </div>
      <span class="title pl-1">{{'GENERAL.DELETE_CONFIRMATION' | translate}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="mat-body-1">{{'GENERAL.DELETE_DESC_1' | translate}}</div>
    <div class="font-weight-bold" style="margin-top:4px;margin-bottom:4px;">{{data.code}}</div>
    <div class="mat-body-1" style="word-wrap:break-word;">{{'GENERAL.DELETE_DESC_2' | translate}}</div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="warn" type="submit" [disabled]="isDeleting" (click)="deleteBus()">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isDeleting">{{'GENERAL.CONFIRM' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isDeleting">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'GENERAL.CANCEL' | translate}}</button>
  </div>
</div>