<div class="app-error-404 h-100 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="mat-h1 text-align-center mb-1 h1">404</div>
      <div class="mat-h2 text-align-center mb-1 p-2">{{'ERROR.404_TITLE' | translate}}</div>
      <div class="text-align-center mb-1">{{'ERROR.404_DESC' | translate}}</div>
      <!-- <div class="mt-3 d-flex align-items-center justify-content-center">
        <button color="primary" mat-flat-button (click)="goBack()">{{'GENERAL.RETURN' | translate}}</button>
      </div> -->
    </div>
  </div>