<mat-card class="mb-2" *ngIf="busStopSchedule.busStop != null">
  <mat-card-header>
    <div matListItemAvatar mat-card-avatar class="mr-2">
      <div class="d-flex align-items-center justify-content-center profile">
        <div class="avatar" *ngIf="busStopSchedule.busStop.avatar != '';else showAvatarSymbol">
          <img src="{{busStopSchedule.busStop.imageUrl}}">
        </div>
        <ng-template #showAvatarSymbol>
          <button mat-mini-fab color="accent" class="profile-image">
            {{busStopSchedule.busStop.name[0]|uppercase}}
          </button>
        </ng-template>
      </div>
    </div>
    <mat-card-title class="w-100">{{busStopSchedule.busStop.name}}</mat-card-title>
    <mat-card-subtitle>{{busStopSchedule.busStop.code}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div class="w-100 d-flex align-items-center" style="justify-content: space-between;">
    <div class="d-flex align-items-center justify-content-center ml-1 my-1 w-100" style="min-height: 25px;">
      <div *ngIf="busStopSchedule.busStop.status === 'Open'" class="tag-div px-1 mr-1" style="background-color:#33a532">
        {{'GENERAL.OPEN'| translate}}
      </div>
      <div *ngIf="busStopSchedule.busStop.status === 'Under Construction'" class="tag-div px-1 mr-1" style="background-color:#FF8C00">
        {{'GENERAL.UNDER_CONSTRUCTION'| translate}}
      </div>
      <div *ngIf="busStopSchedule.busStop.status === 'Closed'" class="tag-div px-1 mr-1" style="background-color:#cc3232">
        {{'GENERAL.CLOSED'| translate}}
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <mat-card-content>
    <div class="px-1" *ngIf="busModule == 0">
      <div class="d-flex align-items-center w-100 pt-1" style="justify-content: space-between;">
        <div class="font-weight-bold" style="font-size: 16px">{{'GENERAL.BUS1'| translate}}</div>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="{{'GENERAL.VIEW_MORE' | translate}}"
          (click)="busDetails(1)">
          <mat-icon>read_more</mat-icon>
        </button>
      </div>
      <div class="mb-1">
        {{'GENERAL.ORIGIN_STOP_CODE' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus1OriginCode}}</span>
      </div>
      <div class="mb-1">
        {{'GENERAL.DEST_STOP_CODE' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus1DestCode}}</span>
      </div>
      <div class="mb-1">
        {{'GENERAL.ARRIVAL_TIME' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus1Eta | utc2LocalTime : 'HH:mm'}} </span>
      </div>

      <mat-divider></mat-divider>

      <div class="d-flex align-items-center w-100 pt-1" style="justify-content: space-between;">
        <div class="font-weight-bold" style="font-size: 16px">{{'GENERAL.BUS2'| translate}}</div>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="{{'GENERAL.VIEW_MORE' | translate}}"
          (click)="busDetails(2)">
          <mat-icon>read_more</mat-icon>
        </button>
      </div>
      <div class="mb-1">
        {{'GENERAL.ORIGIN_STOP_CODE' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus2OriginCode}}</span>
      </div>
      <div class="mb-1">
        {{'GENERAL.DEST_STOP_CODE' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus2DestCode}}</span>
      </div>
      <div class="mb-1">
        {{'GENERAL.ARRIVAL_TIME' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus2Eta | utc2LocalTime : 'HH:mm'}}</span>
      </div>

      <mat-divider></mat-divider>

      <div class="d-flex align-items-center w-100 pt-1" style="justify-content: space-between;">
        <div class="font-weight-bold" style="font-size: 16px">{{'GENERAL.BUS3'| translate}}</div>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="{{'GENERAL.VIEW_MORE' | translate}}"
          (click)="busDetails(3)">
          <mat-icon>read_more</mat-icon>
        </button>
      </div>
      <div class="mb-1">
        {{'GENERAL.ORIGIN_STOP_CODE' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus3OriginCode}}</span>
      </div>
      <div class="mb-1">
        {{'GENERAL.DEST_STOP_CODE' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus3DestCode}}</span>
      </div>
      <div class="mb-1">
        {{'GENERAL.ARRIVAL_TIME' | translate}}:
        <span class="font-weight-bold">{{busStopSchedule.bus3Eta | utc2LocalTime : 'HH:mm'}}</span>
      </div>
    </div>

    <div class="px-1" *ngIf="busModule == 1">
      <div class="d-flex align-items-center w-100 py-1 pb-2" style="justify-content: space-between;">
        <div class="font-weight-bold mr-1" style="font-size: 18px">{{'GENERAL.BUS1'| translate}}</div>
        <button mat-icon-button (click)="busDetails(0)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div>{{'GENERAL.MORE_BUS_DETAILS'| translate}}</div>
      <table class="stripe info-table">
        <tbody>
          <tr>
            <td>{{'GENERAL.ORIGIN_STOP_CODE' | translate}}</td>
            <td>{{busStopSchedule.bus1OriginCode}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.DEST_STOP_CODE' | translate}}</td>
            <td>{{busStopSchedule.bus1DestCode}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.ARRIVAL_TIME' | translate}}</td>
            <td>{{busStopSchedule.bus1Eta | utc2LocalTime : 'HH:mm'}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.OCCUPANCY_LEVEL' | translate}}</td>
            <td *ngIf="busStopSchedule.bus1Load == 'SEA'">{{'GENERAL.SEAT_AVAILABLE'| translate}}</td>
            <td *ngIf="busStopSchedule.bus1Load == 'SDA'">{{'GENERAL.STANDING_AVAILABLE'| translate}}</td>
            <td *ngIf="busStopSchedule.bus1Load == 'LSD'">{{'GENERAL.LIMITED_STANDING'| translate}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.WHEELCHAIR' | translate}}</td>
            <td>
              <div class="d-flex align-items-center" *ngIf="busStopSchedule.bus1Wheelchair">
                <span>{{'GENERAL.ACCESSIBLE' | translate}}</span>
                <mat-icon class="material-icons-outlined pl-1" style="color: green;">accessible</mat-icon>
              </div>
              <div class="d-flex align-items-center" *ngIf="!busStopSchedule.bus1Wheelchair">
                <span>{{'GENERAL.NOT_ACCESSIBLE' | translate}}</span>
                <mat-icon class="material-icons-outlined pl-1" style="color: red;">not_accessible</mat-icon>
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'GENERAL.BUS_TYPE' | translate}}</td>
            <td>
              <span *ngIf="busStopSchedule.bus1Type === 'SD'">{{'GENERAL.SINGLE_DECK' | translate}}</span>
              <span *ngIf="busStopSchedule.bus1Type === 'DD'">{{'GENERAL.DOUBLE_DECK' | translate}}</span>
              <span *ngIf="busStopSchedule.bus1Type === 'BD'">{{'GENERAL.BENDY' | translate}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="px-1" *ngIf="busModule == 2">
      <div class="d-flex align-items-center w-100 py-1 pb-2" style="justify-content: space-between;">
        <div class="font-weight-bold mr-1" style="font-size: 18px">{{'GENERAL.BUS2'| translate}}</div>
        <button mat-icon-button (click)="busDetails(0)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div>{{'GENERAL.MORE_BUS_DETAILS'| translate}}</div>
      <table class="stripe info-table">
        <tbody>
          <tr>
            <td>{{'GENERAL.ORIGIN_STOP_CODE' | translate}}</td>
            <td>{{busStopSchedule.bus2OriginCode}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.DEST_STOP_CODE' | translate}}</td>
            <td>{{busStopSchedule.bus2DestCode}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.ARRIVAL_TIME' | translate}}</td>
            <td>{{busStopSchedule.bus2Eta | utc2LocalTime : 'HH:mm'}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.OCCUPANCY_LEVEL' | translate}}</td>
            <td *ngIf="busStopSchedule.bus2Load == 'SEA'">{{'GENERAL.SEAT_AVAILABLE'| translate}}</td>
            <td *ngIf="busStopSchedule.bus2Load == 'SDA'">{{'GENERAL.STANDING_AVAILABLE'| translate}}</td>
            <td *ngIf="busStopSchedule.bus2Load == 'LSD'">{{'GENERAL.LIMITED_STANDING'| translate}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.WHEELCHAIR' | translate}}</td>
            <td>
              <div class="d-flex align-items-center" *ngIf="busStopSchedule.bus2Wheelchair">
                <span>{{'GENERAL.ACCESSIBLE' | translate}}</span>
                <mat-icon class="material-icons-outlined pl-1" style="color: green;">accessible</mat-icon>
              </div>
              <div class="d-flex align-items-center" *ngIf="!busStopSchedule.bus2Wheelchair">
                <span>{{'GENERAL.NOT_ACCESSIBLE' | translate}}</span>
                <mat-icon class="material-icons-outlined pl-1" style="color: red;">not_accessible</mat-icon>
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'GENERAL.BUS_TYPE' | translate}}</td>
            <td>
              <span *ngIf="busStopSchedule.bus2Type === 'SD'">{{'GENERAL.SINGLE_DECK' | translate}}</span>
              <span *ngIf="busStopSchedule.bus2Type === 'DD'">{{'GENERAL.DOUBLE_DECK' | translate}}</span>
              <span *ngIf="busStopSchedule.bus2Type === 'BD'">{{'GENERAL.BENDY' | translate}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="px-1" *ngIf="busModule == 3">
      <div class="d-flex align-items-center w-100 py-1 pb-2" style="justify-content: space-between;">
        <div class="font-weight-bold mr-1" style="font-size: 18px">{{'GENERAL.BUS3'| translate}}</div>
        <button mat-icon-button (click)="busDetails(0)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div>{{'GENERAL.MORE_BUS_DETAILS'| translate}}</div>
      <table class="stripe info-table">
        <tbody>
          <tr>
            <td>{{'GENERAL.ORIGIN_STOP_CODE' | translate}}</td>
            <td>{{busStopSchedule.bus3OriginCode}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.DEST_STOP_CODE' | translate}}</td>
            <td>{{busStopSchedule.bus3DestCode}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.ARRIVAL_TIME' | translate}}</td>
            <td>{{busStopSchedule.bus3Eta | utc2LocalTime : 'HH:mm'}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.OCCUPANCY_LEVEL' | translate}}</td>
            <td *ngIf="busStopSchedule.bus3Load == 'SEA'">{{'GENERAL.SEAT_AVAILABLE'| translate}}</td>
            <td *ngIf="busStopSchedule.bus3Load == 'SDA'">{{'GENERAL.STANDING_AVAILABLE'| translate}}</td>
            <td *ngIf="busStopSchedule.bus3Load == 'LSD'">{{'GENERAL.LIMITED_STANDING'| translate}}</td>
          </tr>
          <tr>
            <td>{{'GENERAL.WHEELCHAIR' | translate}}</td>
            <td>
              <div class="d-flex align-items-center" *ngIf="busStopSchedule.bus3Wheelchair">
                <span>{{'GENERAL.ACCESSIBLE' | translate}}</span>
                <mat-icon class="material-icons-outlined pl-1" style="color: green;">accessible</mat-icon>
              </div>
              <div class="d-flex align-items-center" *ngIf="!busStopSchedule.bus3Wheelchair">
                <span>{{'GENERAL.NOT_ACCESSIBLE' | translate}}</span>
                <mat-icon class="material-icons-outlined pl-1" style="color: red;">not_accessible</mat-icon>
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'GENERAL.BUS_TYPE' | translate}}</td>
            <td>
              <span *ngIf="busStopSchedule.bus3Type === 'SD'">{{'GENERAL.SINGLE_DECK' | translate}}</span>
              <span *ngIf="busStopSchedule.bus3Type === 'DD'">{{'GENERAL.DOUBLE_DECK' | translate}}</span>
              <span *ngIf="busStopSchedule.bus3Type === 'BD'">{{'GENERAL.BENDY' | translate}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-card-content>


</mat-card>