:host {
  display: block;
  width: 24.5%;
  box-sizing: border-box;
  position: relative;

  // app-commuter-train-schedule-platform-detail {
  //   max-width: 48%;
  //   min-width: 48%;
  // }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

    img {
      width: inherit;
      height: fit-content;
      aspect-ratio: 1/1;
    }
  }

  .tag-div {
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .avatar-symbol {
    width: 75px;
    height: 40px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

  .container {
    position: relative;
    width: 6%;
    height: 20px;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  ::ng-deep .mat-card-subtitle {
    margin-bottom: 6px !important;
  }
  
  ::ng-deep .mat-card {
    padding: 6px !important;
  }
}

