<div class="p-3">
  <div class="d-flex justify-content-between">
    <div class="name d-flex justify-content-center align-items-center">{{selectedBusRoute.name}}</div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <mat-card class="bus-card mx-1" mat-raised-button>{{selectedBusRoute.code.toUpperCase()}}</mat-card>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menuBus"><mat-icon
          fontSet="material-icons-outlined">more_vert</mat-icon></button>
    </div>
  </div>
  <div>
    <mat-menu #menuBus="matMenu">
      <button mat-menu-item (click)="openBusRouteEditDialog()"><mat-icon
          fontSet="material-icons-outlined">edit</mat-icon>{{'GENERAL.EDIT' | translate}}</button>
      <button mat-menu-item (click)="openBusRouteDeleteDialog()"><mat-icon
          fontSet="material-icons-outlined">delete</mat-icon>{{'GENERAL.DELETE' | translate}}</button>
    </mat-menu>
  </div>
</div>
<div style="height: calc(100% - 100px)">
  <mat-tab-group animationDuration="0ms" style="height: 100%">
    <mat-tab label="{{'GENERAL.INFO' | translate}}">
      <div class="my-3">
        <div class="mb-2">
          <div class="pl-1 font-weight-bold">{{'GENERAL.USER_BASIC_INFO_DESC_BUS_ROUTE'| translate}}</div>
        </div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.CODE' | translate}}</td>
              <td><span>{{selectedBusRoute.code}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.NAME' | translate}}</td>
              <td><span>{{selectedBusRoute.name}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.OPERATOR_CODE' | translate}}</td>
              <td><span>{{selectedBusRoute.operatorCode}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.TOTAL_BUS_STOP' | translate}}</td>
              <td><span>{{selectedBusRoute.totalBusStop}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="my-3">
        <div class="mb-2 pl-1 font-weight-bold">{{'GENERAL.TIME_INFO_DESC'|translate}}</div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.LAST_UPDATE' | translate}}</td>
              <td>
                <span *ngIf="selectedBusRoute.lastUpdate">{{selectedBusRoute.lastUpdate | utc2LocalTime : 'DD/MM/YYYY
                  HH:mm'}}
                  ({{selectedBusRoute.lastUpdate | utc2LocalTime | timeago }})</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.UPDATED_BY' | translate}}</td>
              <td>
                <span>{{selectedBusRoute.updatedBy}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="{{'GENERAL.ROUTE' | translate}}">
      <app-bus-route-tab-route class="w-100 h-100 d-flex justify-content-center align-items-center flex-column"
        [selectedBusRoute]="selectedBusRoute"></app-bus-route-tab-route>
    </mat-tab>
  </mat-tab-group>
</div>