:host{
  .bus-card {
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

}