<div class="app-bus-terminal-schedule-info-dialog">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">info</mat-icon>
      </div>
      <span class="title pl-1">{{'GENERAL.INFO' | translate}} {{'GENERAL.TRIP_CODE' | translate}}:
        {{data.tripCode}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <div>
      <div class="pl-1 font-weight-bold">{{'GENERAL.DEPARTING_INFO'| translate}}</div>
    </div>
    <table class="stripe info-table">
      <tbody>
        <tr>
          <td>{{'GENERAL.DATE' | translate}}</td>
          <td><span>{{data.departureTime | dateTime: 'date'}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.DEPARTURE_TIME' | translate}}</td>
          <td><span>{{data.departureTime | dateTime: 'time-2'}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.LOCATION' | translate}}</td>
          <td><span>{{data.origin}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.GATE' | translate}}</td>
          <td><span>{{data.gate}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.BAY' | translate}}</td>
          <td><span>{{data.bay}}</span></td>
        </tr>
      </tbody>
    </table>

    <div class="mt-1">
      <div class="pl-1 font-weight-bold">{{'GENERAL.ARRIVING_INFO'| translate}}</div>
    </div>
    <table class="stripe info-table">
      <tbody>
        <tr>
          <td>{{'GENERAL.DATE' | translate}}</td>
          <td><span>{{data.arrivalTime | dateTime: 'date'}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.DEPARTURE_TIME' | translate}}</td>
          <td><span>{{data.arrivalTime | dateTime: 'time-2'}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.LOCATION' | translate}}</td>
          <td><span>{{data.destination}}</span></td>
        </tr>
      </tbody>
    </table>

    <div class="mt-1">
      <div class="pl-1 font-weight-bold">{{'GENERAL.BUS_TERMINAL_INFO'| translate}}</div>
    </div>
    <table class="stripe info-table">
      <tbody>
        <tr>
          <td>{{'GENERAL.TRIP_CODE' | translate}}</td>
          <td><span>{{data.tripCode}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.LICENSE_PLATE' | translate}}</td>
          <td><span>{{data.plateNo}}</span></td>
        </tr>
        <tr>
          <td>{{'GENERAL.STATUS' | translate}}</td>
          <td>
            <span *ngIf="data.status == 'boarding'" >{{'GENERAL.BOARDING' | translate}}</span>
            <span *ngIf="data.status == 'departed'" >{{'GENERAL.DEPARTED' | translate}}</span>
            <span *ngIf="data.status == 'delay'" >{{'GENERAL.DELAY' | translate}}</span>
            <span *ngIf="data.status == 'cancelled'" >{{'GENERAL.CANCELLED' | translate}}</span>
            <span *ngIf="data.status == 'on_time'" >{{'GENERAL.ON_TIME' | translate}}</span>
          </td>
        </tr>
        <tr>
          <td>{{'GENERAL.BUS_TYPE' | translate}}</td>
          <td>
            <span *ngIf="data.type == 'Executive'">{{'GENERAL.EXECUTIVE' | translate}}</span>
            <span *ngIf="data.type == 'First Class'">{{'GENERAL.FIRST_CLASS' | translate}}</span>
            <span *ngIf="data.type == 'Double Decker'">{{'GENERAL.DOUBLE_DECK' | translate}}</span>
            <span *ngIf="data.type == 'Single Decker'">{{'GENERAL.SINGLE_DECK' | translate}}</span>
            <span *ngIf="data.type == 'VIP'">{{'GENERAL.VIP' | translate}}</span>
          </td>
        </tr>
        <tr>
          <td>{{'GENERAL.TOTAL_SEAT' | translate}}</td>
          <td><span>{{data.totalSeat}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>{{'GENERAL.CLOSE' | translate}}</button>
  </div>
</div>