<div class="app-bus-editor-dialog">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">add</mat-icon>
      </div>
      <span class="title pl-1">{{title}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <form id="myForm" [formGroup]="form" (ngSubmit)="confirm()" class="d-flex flex-column">
      <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="{{'GENERAL.SCHEDULE_INFO' | translate}}">
          <mat-label class="font-weight-bold">{{'GENERAL.ORIGIN_TERMINAL_STATION' | translate}}</mat-label>
          <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
            <input type="text" matInput formControlName="origin" autocomplete="off">
            <button tabindex="-1" type="button" *ngIf="form.controls['origin'].value" matSuffix mat-icon-button
              (click)="form.controls['origin'].setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['origin'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-label class="font-weight-bold">{{'GENERAL.DESTINATION_TERMINAL_STATION' | translate}}</mat-label>
          <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
            <input type="text" matInput formControlName="destination" autocomplete="off">
            <button tabindex="-1" type="button" *ngIf="form.controls['destination'].value" matSuffix mat-icon-button
              (click)="form.controls['destination'].setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['destination'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-label class="font-weight-bold">{{'GENERAL.TRIP_CODE' | translate}}</mat-label>
          <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
            <input type="text" matInput formControlName="tripCode" autocomplete="off">
            <button tabindex="-1" type="button" *ngIf="form.controls['tripCode'].value" matSuffix mat-icon-button
              (click)="form.controls['tripCode'].setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['tripCode'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-label class="font-weight-bold">{{'GENERAL.DATE' | translate}}</mat-label>
          <mat-form-field class="w-100 mb-2" [hideRequiredMarker]="true" [floatLabel]="'never'">
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.controls['date'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="w-50">
              <mat-label class="font-weight-bold">{{'GENERAL.DEPARTURE_TIME' | translate}}</mat-label>
              <mat-form-field>
                <input type="time" matInput formControlName="departureTime" autocomplete="off">
                <mat-error *ngIf="form.controls['departureTime'].errors?.['required']">
                  {{'GENERAL.REQUIRED_FIELD' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-50">
              <mat-label class="font-weight-bold">{{'GENERAL.ARRIVAL_TIME' | translate}}</mat-label>
              <mat-form-field>
                <input type="time" matInput formControlName="arrivalTime" autocomplete="off">
                <mat-error *ngIf="form.controls['arrivalTime'].errors?.['required']">
                  {{'GENERAL.REQUIRED_FIELD' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="w-100 d-flex justify-content-between align-items-center" style="padding-top: 1vh;">
            <div class="w-50">
              <mat-label class="font-weight-bold">{{'GENERAL.GATE' | translate}}</mat-label>
              <mat-form-field style="width: 90%;" [hideRequiredMarker]="true" [floatLabel]="'never'"
                appearance="outline">
                <input type="text" matInput formControlName="gate" autocomplete="off">
                <button tabindex="-1" type="button" *ngIf="form.controls['gate'].value" matSuffix mat-icon-button
                  (click)="form.controls['gate'].setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="form.controls['gate'].errors?.['required']">
                  {{'GENERAL.REQUIRED_FIELD' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-50">
              <mat-label class="font-weight-bold">{{'GENERAL.BAY' | translate}}</mat-label>
              <mat-form-field style="width: 90%;" [hideRequiredMarker]="true" [floatLabel]="'never'"
                appearance="outline">
                <input type="text" matInput formControlName="bay" autocomplete="off">
                <button tabindex="-1" type="button" *ngIf="form.controls['bay'].value" matSuffix mat-icon-button
                  (click)="form.controls['bay'].setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="form.controls['bay'].errors?.['required']">
                  {{'GENERAL.REQUIRED_FIELD' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{'GENERAL.BUS_INFO' | translate}}">
          <mat-label class="font-weight-bold">{{'GENERAL.LICENSE_PLATE' | translate}}</mat-label>
          <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
            <input type="text" matInput formControlName="plateNo" autocomplete="off">
            <button tabindex="-1" type="button" *ngIf="form.controls['plateNo'].value" matSuffix mat-icon-button
              (click)="form.controls['plateNo'].setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['plateNo'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-label class="font-weight-bold">{{'GENERAL.OPERATOR_CODE' | translate}}</mat-label>
          <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
            <mat-select formControlName="operatorCode">
              <mat-option *ngFor="let busOperator of busOperatorService.busOperators" [value]="busOperator.code">
                {{ busOperator.abbrName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['operatorCode'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-label class="font-weight-bold">{{'GENERAL.BUS_TYPE' | translate}}</mat-label>
          <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
            <mat-select formControlName="type">
              <mat-option value="Single Decker">{{'GENERAL.SINGLE_DECK' | translate}}</mat-option>
              <mat-option value="Double Decker">{{'GENERAL.DOUBLE_DECK' | translate}}</mat-option>
              <mat-option value="Executive">{{'GENERAL.EXECUTIVE' | translate}}</mat-option>
              <mat-option value="VIP">{{'GENERAL.VIP' | translate}}</mat-option>
              <mat-option value="First Class">{{'GENERAL.FIRST_CLASS' | translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['type'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-label class="font-weight-bold">{{'GENERAL.TOTAL_SEAT' | translate}}</mat-label>
          <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
            <input type="number" matInput formControlName="totalSeat" autocomplete="off">
            <button tabindex="-1" type="button" *ngIf="form.controls['totalSeat'].value" matSuffix mat-icon-button
              (click)="form.controls['totalSeat'].setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls['totalSeat'].errors?.['required']">
              {{'GENERAL.REQUIRED_FIELD' | translate}}
            </mat-error>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="(!form.valid || isSaving)" (click)="confirm()">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isSaving">{{'GENERAL.SAVE' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isSaving">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'GENERAL.CANCEL' | translate}}</button>
  </div>
</div>