:host {

  .route-path,
  .stop,
  .stop-card-go,
  .stop-card-back,
  .origin,
  .destination,
  .direction-container,
  .arrow,
  .arrow-go,
  .arrow-back {
    display: flex;
    align-items: center;
  }

  .direction-container {
    justify-content: center;
    border-right: solid 6px black;
  }

  .stop,
  .stop-card-go,
  .stop-card-back {
    padding: 0px 30px 0px 30px;
  }

  .origin,
  .destination {
    justify-content: center;
    font-size: 1.2rem;
    border: solid;
    padding: 0.5vw;
    border-radius: 0.5vw;
  }

  .origin-card,
  .destination-card {
    width: fit-content;
    border-radius: 0.5vw
  }

  .add-bus-stop {
    position: sticky;
    right: 0;
    top: 0;
  }

  .add-bus-stop-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
  }

  .arrow {
    font-size: 3.5rem;
    position: absolute;
    padding-left: 0.1em;
    z-index: 1
  }

  .arrow-go,
  .arrow-back {
    font-size: 3.5rem;
    position: absolute;
    z-index: 1;
  }

  .arrow-go {
    right: -0.55em;
  }

  .arrow-back {
    left: -0.55em;
  }

  .add-bus-stop-button {
    transition: transform 0.75s;
  }

  .add-bus-stop-button.add {
    transform: rotate(45deg);
  }

  .stop-card {
    padding: 0 !important;
  }

  .bus-stop-card:hover,
  .stop-card-go:hover,
  .stop-card-back:hover {
    cursor: pointer;
  }

  .bus-stop-content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 28vh;
  }

  .stop-card-go,
  .stop-card-back {
    width: 50%
  }

  .go-list-container,
  .back-list-container {
    min-height: 100px
  }

  ::ng-deep.mat-drawer-inner-container {
    overflow: hidden;
  }

  .cdk-drag-placeholder {
    opacity: 0.25;
  }

  .go-list-container,
  .back-list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .cdk-drag-placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 60%;

      .arrow-go,
      .arrow-back {
        display: none;
      }
    }
  }

  .stop-container {
    .cdk-drag-placeholder {
      display: block;
      font-weight: unset !important;

      .arrow-go,
      .arrow-back {
        display: none;
      }
    }
  }

  .box-item:last-child {
    border: none;
  }

  .box-list.cdk-drop-list-dragging .box-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .arrow-go,
  .arrow-back {
    display: none;
  }
}