<ng-container *ngIf="selectedBusRoute">

  <mat-sidenav-container class="sidenav-container w-100 h-100">
    <mat-sidenav class="overflow-hidden" position="end" #sidenav mode="side">
      <div class="bus-stop-list-container h-100">
        <div class="stop-container box-list h-100" cdkDropList #stopList="cdkDropList" [cdkDropListData]="stopContainer"
          (cdkDropListDropped)="dropBusStop($event)" [cdkDropListConnectedTo]="[backList, goList]" style="width: 315px">
          <mat-card class="bus-stop-card box-item m-1" matRipple *ngFor="let busStop of stopContainer" cdkDrag>
            <mat-card-content class="bus-stop-content">{{busStop.code}} {{busStop.name}}</mat-card-content>
            <mat-card-footer></mat-card-footer>
          </mat-card>
          <div class="d-flex flex-column justify-content-center align-items-center p-4"
            *ngIf="stopContainer.length === 0" style="width: 250px">
            <div><img src="assets/img/no-data.svg" width="100" /></div>
            <div>{{'GENERAL.NO_DATA' | translate}}</div>
          </div>
        </div>

      </div>
    </mat-sidenav>

    <mat-sidenav-content class="d-flex justify-content-center">
      <button mat-mini-fab color="primary" class="add-bus-stop-icon" (click)="sidenav.toggle(); add = !add"
        matTooltip="{{'GENERAL.ADD_BUS_STOP'| translate}}">
        <mat-icon class="material-icons-outlined add-bus-stop-button" [ngClass]="{'add': add}">add</mat-icon>
      </button>
      <div [id]="selectedBusRoute.id" class="bus-route w-100 d-flex flex-column align-items-center">
        <mat-card class="origin-card mx-2 mt-1">
          <div class="origin">{{selectedBusRoute.originBusStop.code}} {{selectedBusRoute.originBusStop.name}} </div>
        </mat-card>

        <div class="route-path double-direction w-100 justify-content-center">
          <div class="zone-go h-100 w-50">
            <div class="stop h-100">
              <div class="go-list-container box-list h-100 w-100 align-items-end" cdkDropList #goList="cdkDropList"
                [cdkDropListData]="goDirection" (cdkDropListDropped)="dropBusStop($event)"
                [cdkDropListConnectedTo]="[backList, stopList]">
                <mat-card class="stop-card-go box-item mr-2 my-1 justify-content-end"
                  *ngFor="let goBusStop of goDirection" cdkDrag>
                  <div class="stop-content m-2 d-flex font-weight-bold" style="text-align: end;">{{goBusStop.code}}
                    {{goBusStop.name}}
                  </div>
                  <mat-icon class="arrow-go material-icons-outlined justify-content-center">arrow_drop_down</mat-icon>
                </mat-card>
              </div>
              <div class="direction-container h-100">
                <mat-icon class="arrow material-icons-outlined justify-content-center"
                  *ngIf="goDirection.length === 0">arrow_drop_down</mat-icon>
                <div class="direction-line">
                </div>
              </div>
            </div>
          </div>

          <div class="zone-back h-100 w-50">
            <div class="stop h-100">
              <div class="direction-container h-100">
                <mat-icon *ngIf="backDirection.length === 0"
                  class="arrow material-icons-outlined justify-content-center">arrow_drop_up</mat-icon>
                <div class="direction-line">
                </div>
              </div>
              <div class="back-list-container box-list h-100 w-100" cdkDropList #backList="cdkDropList"
                [cdkDropListData]="backDirection" (cdkDropListDropped)="dropBusStop($event)"
                [cdkDropListConnectedTo]="[goList, stopList]">
                <mat-card class="stop-card-back box-item ml-2 my-1 justify-content-start"
                  *ngFor="let backBusStop of backDirection" cdkDrag>
                  <mat-icon *ngIf="backDirection.length > 0"
                    class="arrow-back material-icons-outlined justify-content-center">arrow_drop_up</mat-icon>
                  <div class="stop-content m-2 font-weight-bold">{{backBusStop.code}} {{backBusStop.name}}<div
                      class="desc"></div>
                  </div>

                </mat-card>
              </div>
            </div>
          </div>
        </div>

        <mat-card class="destination-card mx-2 mb-1">
          <div class="destination">{{selectedBusRoute.destBusStop.code}} {{selectedBusRoute.destBusStop.name}}<div class="desc"></div>
          </div>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



</ng-container>