<div class="app-busOperator-module module-header d-flex align-items-center justify-content-between px-1">
  <div class="d-flex align-items-center">
    <mat-icon fontSet="material-icons-outlined" class="pr-1">directions_bus</mat-icon>
    <span class="mat-subheading-1 mb-0 font-weight-bold">{{'GENERAL.BUS_OPERATOR' | translate}}</span>
  </div>
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="openNewBusOperatorDialog()">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()">
      <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="busOperatorService.isLoading" class="w-100" style="position: absolute"><mat-progress-bar
    mode="indeterminate"></mat-progress-bar></div>

<div class="module-body d-flex" style="overflow: hidden !important;">
  <div class="busOperator-list" style="width: 20%">
    <div class="p-1" style="height: 5%;">
      <mat-form-field [floatLabel]="'never'" appearance="outline" class="w-100 pb-0">
        <input type="text" matInput placeholder="{{'GENERAL.SEARCH_BUS_OPERATOR_HINT' | translate}}"
          [(ngModel)]="busOperatorService.filter.keyword" (keyup)="busOperatorService.search()" autocomplete="off"
          spellcheck="false">
        <button tabindex="-1" type="button" matSuffix mat-icon-button aria-label="Clear" (click)="resetKeyword()"
          *ngIf="busOperatorService.filter.keyword">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="px-1 overflow-auto" style="height: 95%;">
      <ng-container *ngIf="busOperatorService.busOperators.length > 0">
        <mat-selection-list #busList [multiple]="false"
          (selectionChange)="handleSelectionChange(busList.selectedOptions.selected)">
          <mat-list-option *ngFor="let busOperator of busOperatorService.filteredBusOperators" [value]="busOperator">
            <mat-list-item>
              <div matListItemAvatar class="mr-3">
                <div class="d-flex align-items-center justify-content-center profile">
                  <button *ngIf="!busOperator.avatar" mat-mini-fab color="accent" class="profile-image">
                    {{busOperator.code[0]|uppercase}}
                  </button>
                  <button *ngIf="busOperator.avatar" mat-mini-fab color="accent" class="profile-image">
                    <img src="{{busOperator.imageUrl}}" style="width:100%;object-fit:cover;aspect-ratio: 1/1;">
                  </button>
                </div>
              </div>
              <div class="d-flex flex-column w-100">
                <div class="d-flex align-items-center justify-content-between w-100">
                  <span class="title" matTooltip="{{busOperator.code}}">{{busOperator.code}}</span>
                </div>
                <span class="sub-title" style="margin-top:4px;">{{busOperator.abbrName}}</span>
              </div>
            </mat-list-item>
          </mat-list-option>
        </mat-selection-list>
      </ng-container>
      <div class="d-flex flex-column justify-content-center align-items-center m-4" *ngIf="busOperatorService.isEmpty">
        <div><img src="assets/img/no-data.svg" width="84" /></div>
        <div>{{'GENERAL.NO_DATA' | translate}}</div>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="align-items-center" style="width: 80%;" *ngIf="selectedBusOperator">
    <app-bus-operator-detail [selectedBusOperator]="selectedBusOperator"></app-bus-operator-detail>
  </div>
</div>