
@use 'sass:map';
@use '../../../node_modules/@angular/material/' as mat;
@use '../material.scss' as material;
@use '../main.scss' as main;
@use '../component.scss' as component;

@mixin create-theme($css-class, $theme){
    $primary: mat.define-palette(map.get($theme, primary-base));
    $accent: mat.define-palette(map.get($theme, accent-base));
    
    .#{$css-class} {
        $light-theme: mat.define-light-theme((color: (primary: $primary,
                    accent: $accent )));
        @include all-components-color($light-theme);
    }
    
    .#{$css-class}.dark-mode {
        $dark-theme: mat.define-dark-theme((color: (primary: $primary,
                    accent: $accent ))); 
        @include all-components-color($dark-theme);
    }
}

@mixin all-components-theme($theme) { //theme include color and typography
  @include mat.all-component-themes($theme);
  @include material.init($theme);
  @include main.init($theme);
  @include component.init($theme);
}

@mixin all-components-color($theme) {
  @include mat.all-component-colors($theme);
  @include material.init($theme);
  @include main.init($theme);
  @include component.init($theme);
}
