@use "sass:map";
@use "../../node_modules/@angular/material/" as mat;
@use "./color.scss" as color;

@mixin layout-main($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $foreground: map.get($color-config, 'foreground');

  .mat-icon-button {
      transition: 0.25s;
  }

  .dark-mode {
    app-layout-main {
      .sidebar-tree {
        .menu-icon {
          color: map.get(mat.$grey-palette, 50);
        }

        background-color: color.$grey-1 !important;
      }

      .sidenav {
        background-color: color.$grey-1 !important;
        border-right: 3px solid;
      }

      .avatar {
        background-color: map.get($accent, 500);
      }

      .active-node {
        background-color: map.get(mat.$grey-palette, 700);
      }
    }

    .mat-drawer,
    .mat-tree {
      background-color: map.get(mat.$grey-palette, 800);
    }

    .menu-user {
      .user-profile {
        .mat-subheading-1 {
          color: map.get(mat.$grey-palette, 50);
        }

        .email {
          color: map.get(mat.$grey-palette, 50);
        }
      }
    }
  }

  .light-mode {
    app-layout-main {
      .sidebar-tree {
        .menu-icon {
          color: map.get($foreground, 'icon');
        }
      }

      .avatar {
        background-color: map.get($accent, 500);
      }

      .active-node {
        background-color: map.get(mat.$grey-palette, 200);
      }
    }

  }
}

@mixin layout-sidebar($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $foreground: map.get($color-config, 'foreground');

  .dark-mode {
    .verNo {
      color: map.get(mat.$grey-palette, 600);
    }

    .mat-drawer {
      background-color: #303030 !important;
    }

    .mat-tree-node:hover {
      background-color: map.get(mat.$grey-palette, 600);

      .highlight {
      background-color: map.get(mat.$grey-palette, 600);
      }
    }

    .highlight {
      font-weight: bold;
      background-color: map.get(mat.$grey-palette, 700);
    }
  }

  .light-mode {
    .verNo {
      color: map.get(mat.$grey-palette, 400);
    }

    .mat-tree-node:hover {
      background-color: map.get(mat.$grey-palette, 200);

      .highlight {
      background-color: map.get(mat.$grey-palette, 200);
      }
    }

    .highlight{
      font-weight: bold;
      background-color: map.get(mat.$grey-palette, 300);
    }
  }
}

@mixin error-403($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .h1 {
    color: map.get($primary, 500) !important;
  }

  .dark-mode {
    .app-error-403 {
      background-color: #303030;

      .body-403 {
        color: white;
      }

      .container {
        background-color: map.get(mat.$grey-palette, 800) !important;
      }
    }
  }

  .light-mode {
    .app-error-403 {
      background-color: map.get(mat.$grey-palette, 100) !important;

      .container {
        background-color: white;
      }
    }
  }
}

@mixin error-404($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .dark-mode {
    .app-error-404 {
      background-color: #303030;

      .body-404 {
        color: white;
      }

      .container {
        background-color: map.get(mat.$grey-palette, 800) !important;
      }
    }
  }

  .light-mode {
    .app-error-404 {
      background-color: map.get(mat.$grey-palette, 100) !important;

      .container {
        background-color: white;
      }
    }
  }
}

@mixin error-500($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .h1 {
    color: map.get($primary, 500) !important;
  }

  .dark-mode {
    .app-error-500 {
      background-color: #303030;

      .body-500 {
        color: white;
      }

      .container {
        background-color: map.get(mat.$grey-palette, 700) !important;
      }
    }
  }

  .light-mode {
    .app-error-500 {
      background-color: map.get(mat.$grey-palette, 100) !important;

      .container {
        background-color: white;
      }
    }
  }
}

@mixin bus-detail($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .bus-card {
    background: map.get($primary, 500) !important;
    color: map.get($primary, '500-contrast');
  }
}

@mixin bus-stop-detail($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .light-mode {
    .status-div {
      color: white;
    }
  }
}

@mixin bus-stop-schedule-detail($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .light-mode {
    .tag-div {
      color: white;
    }
  }
}

@mixin bus-route-editor-dialog ($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .light-mode {
    .card-body.box-list {
      border-color: map.get(mat.$grey-palette, 300) !important;
    }

    .box-item {
      border-bottom-color: map.get(mat.$grey-palette, 300) !important;
    }

    .cdk-drag-preview {
      background-color: white;
    }
  }

  .dark-mode {
    .card-body.box-list {
      border-color: map.get(mat.$grey-palette, 600) !important;
    }

    .box-item {
      border-bottom-color: map.get(mat.$grey-palette, 600) !important;
    }

    .cdk-drag-preview {
      color: white;
      background-color: map.get(mat.$grey-palette, 800) !important;
    }
  }
}

@mixin bus-route-tab-route($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');

  .origin-card,
  .destination-card{
    background: map.get($primary, 500) !important;
    color: white;
  }
}

@mixin init($theme) {
  @include layout-main($theme);
  @include layout-sidebar($theme);
  //error
  @include error-403($theme);
  @include error-404($theme);
  @include error-500($theme);
  @include bus-detail($theme);
  @include bus-stop-detail($theme);
  @include bus-stop-schedule-detail($theme);
  @include bus-route-editor-dialog($theme);
  @include bus-route-tab-route($theme);
}
