@use 'sass:map';
@use "../../node_modules/@angular/material/" as mat;
@use "./color.scss" as color;

@mixin size() {
    .w-50 {
        width: 50%;
    }

    .h-100 {
        height: 100%;
    }

    .w-100 {
        width: 100%;
    }

}

@mixin display {
    .d-none {
        display: none !important;
    }
}

@mixin flex() {
    .d-flex {
        display: flex !important;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .flex-column {
        flex-direction: column;
    }

    .align-items-center {
        align-items: center;
    }

    .align-items-end {
        align-items: end;
    }

    .align-items-start {
        align-items: start;
    }

    .justify-content-center {
        justify-content: center;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .justify-content-start {
        justify-content: start;
    }

    .justify-content-end {
        justify-content: end;
    }
}

@mixin module() {
    .module-header {
        height: 40px;
    }

    .module-body {
        height: calc(100% - 40px);
        overflow: auto;
        box-sizing: border-box;
    }

    .dark-mode {
        .module-header {
            background-color: map.get(mat.$grey-palette, 800); //color.$grey-1; //map.get(mat.$grey-palette, 800);
        }
    }

    .light-mode {
        .module-header {
            background-color: map.get(mat.$grey-palette, 200);
        }

        .sub-title {
            color: map.get(mat.$grey-palette, 600);
        }
    }
}

@mixin padding() {
    $padding_unit: 8px;
    $indexs: 0,
    1,
    2,
    3,
    4,
    5,
    6;

    @each $i in $indexs {

        //padding
        .p-#{$i} {
            padding-left: $i*$padding_unit !important;
            padding-right: $i*$padding_unit !important;
            padding-top: $i*$padding_unit !important;
            padding-bottom: $i*$padding_unit !important;
        }

        .pl-#{$i} {
            padding-left: $i*$padding_unit !important;
        }

        .pr-#{$i} {
            padding-right: $i*$padding_unit !important;
        }

        .pt-#{$i} {
            padding-top: $i*$padding_unit !important;
        }

        .pb-#{$i} {
            padding-bottom: $i*$padding_unit !important;
        }

        .px-#{$i} {
            padding-left: $i*$padding_unit !important;
            padding-right: $i*$padding_unit !important;
        }

        .py-#{$i} {
            padding-top: $i*$padding_unit !important;
            padding-bottom: $i*$padding_unit !important;
        }
    }
}

@mixin margin() {
    $margin_unit: 8px;
    $indexs: 0,
    1,
    2,
    3,
    4,
    5,
    6;

    @each $i in $indexs {
        .m-#{$i} {
            margin-left: $i*$margin_unit !important;
            margin-right: $i*$margin_unit !important;
            margin-top: $i*$margin_unit !important;
            margin-bottom: $i*$margin_unit !important;
        }

        .ml-#{$i} {
            margin-left: $i*$margin_unit !important;
        }

        .mr-#{$i} {
            margin-right: $i*$margin_unit !important;
        }

        .mt-#{$i} {
            margin-top: $i*$margin_unit !important;
        }

        .mb-#{$i} {
            margin-bottom: $i*$margin_unit !important;
        }

        .mx-#{$i} {
            margin-left: $i*$margin_unit !important;
            margin-right: $i*$margin_unit !important;
        }

        .my-#{$i} {
            margin-top: $i*$margin_unit !important;
            margin-bottom: $i*$margin_unit !important;
        }

    }

}

@mixin font() {
    .font-weight-bold {
        font-weight: bold !important;
    }
}

@mixin text-align() {
    .text-align-center {
        text-align: center;
    }

    .text-align-left {
        text-align: left;
    }

    .text-align-right {
        text-align: right;
    }
}

@mixin shape() {
    .circle {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@mixin overflow() {
    .overflow-auto {
        overflow: auto;
    }
}

@mixin table($theme) {

    table.info-table {
        width: 100%;
        table-layout: fixed;

        tr {
            td {
                width: 100%;
                padding: 4px 8px 4px 8px;
                vertical-align: top;
                box-sizing: border-box;
            }

            td:first-child {
                font-weight: 400;
                width: 180px;
                opacity: 0.85;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 12px;
                padding-right: 12px;
            }

            td:nth-child(2) {
                font-size: 16px;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }

    .light-mode {
        table.stripe {
            tr {
                background-color: white;
            }

            tr:nth-child(odd) {
                background-color: map.get(mat.$grey-palette, 200);
                color: map.get(mat.$grey-palette, '200-contrast');
            }
        }
    }

    .dark-mode {
        table.stripe {
            tr {
                background-color: map.get(mat.$grey-palette, 800);
                color: map.get(mat.$grey-palette, '800-contrast');
            }

            tr:nth-child(odd) {
                background-color: map.get(mat.$grey-palette, 700);
                color: map.get(mat.$grey-palette, '700-contrast');
            }
        }
    }

}

@mixin misc() {
    .visible-hidden {
        visibility: hidden;
    }
}

@mixin avatar($theme) {
    $color-config: mat.get-color-config($theme);
    $accent: map.get($color-config, 'accent');

    .avatar-symbol {
        background-color: map.get($accent, 500);
        color: map.get($accent, '500-contrast');
    }
}

@mixin scrollbar($theme) {

    ::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    .light-mode {
        ::-webkit-scrollbar {
            //the entire trackbar 
            background-color: map.get(mat.$grey-palette, 100);
        }

        ::-webkit-scrollbar-thumb {
            background-color: map.get(mat.$grey-palette, 400);
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: map.get(mat.$grey-palette, 300); //#979797;
        }
    }

    .dark-mode {
        ::-webkit-scrollbar {
            //the entire trackbar
            background-color: map.get(mat.$grey-palette, 800);
        }

        ::-webkit-scrollbar-thumb {
            background-color: map.get(mat.$grey-palette, 700);
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: map.get(mat.$grey-palette, 600); //#979797;
        }
    }
}

@mixin list-item {
    .light-mode {
        .list-item {
            background-color: map.get(mat.$grey-palette, 100);
        }

        .list-item:hover {
            background-color: map.get(mat.$grey-palette, 200);
        }
    }

    .dark-mode {

        .list-item {
            background-color: map.get(mat.$grey-palette, 700);
        }

        .list-item:hover {
            background-color: map.get(mat.$grey-palette, 600);
        }
    }
}

@mixin disabled-input {
    .disabled-input {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .light-mode {
        .disabled-input {
            background-color: #f5f5f5;
        }
    }
}

@mixin badge($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');

    .badge {
        font-size: 12px;
        padding: 3px;
        border-radius: 4px;
        font-weight: 500;
        margin-left: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .light-mode {
        .badge {
            background-color: map.get($primary, 500);
            color: map.get($primary, '500-contrast');
        }

    }

    .dark-mode {
        .badge {
            background-color: map.get($primary, 500);
            color: map.get($primary, '500-contrast');
        }
    }

}

@mixin daterangepicker($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');

    .date-range-picker {
        height: 38px;
        font-size: 14px;
        border-width: 2px;
        border-radius: 5px;
        border-style: solid;
        padding-left: 8px;
        outline: none;
    }

    .date-range-picker:hover {
        border-width: 2px;
        transition: border-color 0.1s ease-in;
    }

    .date-range-picker:focus {
        border-width: 2px;
    }

    .daterangepicker .drp-calendar {
        max-width: none;
    }

    .light-mode {
        .date-range-picker {
            background: map.get(mat.$grey-palette, 100) !important;
            border-color: #d7d7d7;
        }

        .date-range-picker:hover {
            border-color: black;
        }

        .date-range-picker:focus {
            border-color: map.get($primary, 500);
        }
    }

    .dark-mode {
        .date-range-picker {
            background: map.get(mat.$grey-palette, 800) !important;
            color: white;
        }

        .date-range-picker {
            border-color: #7b7b7b; //map.get(mat.$grey-palette, 700) !important;
        }

        .date-range-picker:hover {
            border-color: white;
        }

        .date-range-picker:focus {
            border-color: map.get($primary, 500);
        }
    }

    .daterangepicker.light-mode {

        // left hand side range selection
        .ranges li.active {
            background-color: map.get($primary, 500);
            color: map.get($primary, '500-contrast');
        }

        td.in-range {
            background-color: map.get($primary, 200);
            color: map.get($primary, '200-contrast');
        }

        td.in-range:hover {
            background-color: map.get($primary, 500);
            color: map.get($primary, '500-contrast');
        }

        td.active,
        .daterangepicker td.active:hover {
            background-color: map.get($primary, 500);
            color: map.get($primary, '500-contrast');
        }
    }

    .daterangepicker.dark-mode {
        background: map.get(mat.$grey-palette, 800);
        color: white;
        border-color: map.get(mat.$grey-palette, 600);

        .drp-calendar.left {
            border-left-color: map.get(mat.$grey-palette, 600);
        }

        .drp-buttons {
            border-top-color: map.get(mat.$grey-palette, 600);
        }

        // left hand side range selection
        .ranges li:hover {
            background-color: map.get($primary, 200);
            color: map.get($primary, '200-contrast');
        }

        .ranges li.active {
            background-color: map.get($primary, 500);
            color: map.get($primary, '500-contrast');
        }

        .calendar-table {
            background-color: map.get(mat.$grey-palette, 800);
            border-color: map.get(mat.$grey-palette, 800);

            table {
                thead {
                    tr {
                        th {
                            background-color: map.get(mat.$grey-palette, 800);
                        }

                        th.prev.available span,
                        th.next.available span {
                            border-color: white;
                        }
                    }
                }

                tbody {
                    tr {

                        td.available {
                            background-color: map.get(mat.$grey-palette, 800);
                        }

                        td.available:hover {
                            background-color: map.get($primary, 500);
                            color: map.get($primary, '500-contrast');
                        }

                        td.in-range {
                            background-color: map.get($primary, 200);
                            color: map.get($primary, '200-contrast');
                        }

                        td.in-range:hover {
                            background-color: map.get($primary, 500);
                            color: map.get($primary, '500-contrast');
                        }

                        td.active,
                        td.active:hover {
                            background-color: map.get($primary, 500);
                            color: map.get($primary, '500-contrast');
                        }
                    }
                }
            }
        }
    }
}

@mixin iframe() {
    iframe {
        border: none;
    }
}

@mixin ngx-shimmer() {
    .dark-mode {
        .ngx-shimmer {
            background-color: map.get(mat.$grey-palette, 700);
            background-image: linear-gradient(to right, map.get(mat.$grey-palette, 700) 0, map.get(mat.$grey-palette, 600) 20%, map.get(mat.$grey-palette, 700) 40%, map.get(mat.$grey-palette, 700) 100%);
        }
    }
}

@mixin init($theme) {
    @include iframe();
    @include misc();
    @include size();
    @include display();
    @include flex();
    @include module();
    @include padding();
    @include margin();
    @include font();
    @include text-align();
    @include shape();
    @include overflow();
    @include table($theme);
    @include avatar($theme);
    @include scrollbar($theme);
    @include list-item();
    @include disabled-input();
    @include badge($theme);
    @include daterangepicker($theme);
    @include ngx-shimmer();
}