@use 'sass:map';
@use '../../node_modules/@angular/material' as mat;

//https://materialui.co/colors

@mixin color($theme) {
  // Get the color config from the theme
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $foreground: map.get($color-config,'foreground');
  $background: map.get($color-config,'background');

  .light-mode {
    .mat-form-field-outline {
      background: map.get(mat.$grey-palette, 100) !important;
    }
  }

  .dark-mode {
    .mat-snack-bar-container {
      color: white;
      opacity: 0.8;
      background-color: map.get(mat.$grey-palette, 800);
    }

    .mat-drawer-side {
      border-color: map.get(mat.$grey-palette, 900) !important;
    }


    .mat-icon {
      // color: map.get(mat.$grey-palette, 50);
    }
  }
}

@mixin typography($theme) {
  $typo-config: mat.get-typography-config($theme);
  $font-family: mat.font-family($typo-config);

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }
  //@include typography($theme);
  $typo-config: mat.get-typography-config($theme);

  @if $typo-config !=null {
    @include typography($theme);
  }
}
