@use 'sass:map';
@use "../../node_modules/@angular/material/" as mat;


@mixin mat-menu-item {
  .mat-menu-item {
    height: 43px !important;
    line-height: 43px !important;
    
    .mat-icon {
      margin-right: 12px;
    }
  }
}

@mixin mat-dialog($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  .mat-dialog-container {
    padding: 0 !important;

    .mat-dialog-title {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 12px;
      padding-bottom: 12px;

      background-color: map.get($primary, 500);
      color: map.get($primary, '500-contrast');

      .circle {
        background-color: map.get($primary, 200);

        .mat-icon {
          color: map.get($primary, 500);
        }
      }
    }

    .mat-dialog-title.warn {
      background-color: map.get($warn, 500);

      .circle {
        background-color: map.get($warn, 200);

        .mat-icon {
          color: map.get($warn, 500);
        }
      }

    }

    .mat-dialog-content {
      margin: 0 !important;
      max-height: 70vh;
    }

    .mat-dialog-actions {
      margin-bottom: 0;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

@mixin mat-form-field() {

  //overwrite the form field padding
  .mat-form-field-flex>.mat-form-field-infix {
    padding: 12px 0 8px 0px !important;
  }

  .mat-form-field-flex>.mat-form-field-suffix>button {
    width: 2em !important;
    height: 2em !important
  }

  .mat-form-field-flex>.mat-form-field-suffix>div>button {
    width: 2em !important;
    height: 2em !important
  }

  .mat-form-field-infix {
    border-top: 0 solid transparent !important;
  }

}

@mixin mat-input() {
  .mat-input-element {
    padding: 4px 0 4px 0 !important;
    line-height: 1 !important;
  }
}

@mixin mat-select() {
  .mat-select {
    padding: 4px 0 !important;
  }
}

@mixin mat-card() {
  .mat-card {
    box-shadow: 0 0 12px 0 rgb(0 0 0 /10%) !important;
    //padding: 0 !important;
  }
}

@mixin mat-list() {

  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 70px !important;
  }

  .mat-list-base .mat-list-item {
    border-radius: 4px;
  }
}

@mixin mat-tooltip() {
  .mat-tooltip {
    background: #404040 !important;
    font-size: 14px !important;
    white-space: pre-line;
    word-break: break-word;
    text-overflow: unset;
  }
}

@mixin mat-snackbar() {
  .mat-snack-bar-container {
    min-width: auto !important;
  }
}

@mixin mat-icon-button($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $warn: map.get($color-config, 'warn');

  .mat-icon-button.primary:hover {
    background-color: map.get($primary, 100) !important;
    color: map.get($primary,'100-contrast') !important;
  }

  .mat-icon-button:disabled {
    cursor: not-allowed;
  }

  .delete.mat-icon:hover {
    color: map.get($warn, 500)
  }

  .light-mode {
    .mat-icon-button:hover {
      //background-color: map.get(mat.$grey-palette, 50);
      background-color: rgba(0, 0, 0, 0.07);
      color: black;
    }

    .mat-icon-button.mat-warn:hover {
      background-color: map.get(mat.$grey-palette, 50);
      color: map.get($warn, 500);
    }

    .mat-icon-button:disabled:hover {
      background-color: inherit;
      color: inherit;
    }
  }

  .dark-mode {
    .mat-icon-button:hover {
      background-color: map.get(mat.$grey-palette, 700) !important;
      color: map.get(mat.$grey-palette, 100) !important;
    }

    .mat-icon-button.mat-warn:hover {
      background-color: map.get(mat.$grey-palette, 700) !important;
      color: map.get($warn, 500) !important;
    }
  }
}

@mixin mat-tab() {
  .mat-tab-body-wrapper {
    height: calc(100% - 51px) !important;
    width: calc(100% - 0px) !important;
  }

  .mat-tab-body{
    padding-top: 1.5vh;
  }
}

@mixin init($theme) {
  @include mat-icon-button($theme);
  @include mat-tooltip();
  @include mat-dialog($theme);
  @include mat-form-field();
  @include mat-select();
  @include mat-card();
  @include mat-menu-item();
  @include mat-input();
  @include mat-list();
  @include mat-snackbar();
  @include mat-tab();
}