<div class="module-header d-flex align-items-center justify-content-between px-1">
  <div class="d-flex align-items-center">
    <mat-icon class="material-icons-outlined pr-1">departure_board</mat-icon>
    <span class="mat-subheading-1 mb-0 font-weight-bold">{{ 'GENERAL.TERMINAL_BUS_SCHEDULE' | translate}}</span>
  </div>
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="openNewBusTerminalScheduleDialog()">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()">
      <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="busTerminalService.isLoading" class="w-100" style="position: absolute"><mat-progress-bar
    mode="indeterminate"></mat-progress-bar></div>

<div class="module-body d-flex" style="overflow: hidden;">
  <div class="modify-bar m-1 h-100 w-100 justify-content-center">
    <div class="w-100 d-flex search-bar align-items-center">
      <div class="d-flex flex-column m-2">
        <mat-label class="font-weight-bold">{{'GENERAL.FROM' | translate}}</mat-label>
        <mat-form-field [floatLabel]="'never'" appearance="outline" class="bus-origin-search">
          <input type="text" matInput placeholder="{{'GENERAL.SEARCH_BUS_ORIGIN' | translate}}"
            [(ngModel)]="busTerminalService.filter.origin" (keyup)="busTerminalService.search()" autocomplete="off"
            spellcheck="false">
          <button tabindex="-1" type="button" matSuffix mat-icon-button aria-label="Clear"
            (click)="(busTerminalService.filter.origin = ''); resetKeyword()" *ngIf="busTerminalService.filter.origin">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column m-2">
        <mat-label class="font-weight-bold">{{'GENERAL.TO' | translate}}</mat-label>
        <mat-form-field [floatLabel]="'never'" appearance="outline" class="bus-dest-search">
          <input type="text" matInput placeholder="{{'GENERAL.SEARCH_BUS_DESTINATION' | translate}}"
            [(ngModel)]="busTerminalService.filter.destination" (keyup)="busTerminalService.search()" autocomplete="off"
            spellcheck="false">
          <button tabindex="-1" type="button" matSuffix mat-icon-button aria-label="Clear"
            (click)="(busTerminalService.filter.destination = ''); resetKeyword()"
            *ngIf="busTerminalService.filter.destination">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column m-2">
        <mat-label class="font-weight-bold">{{'GENERAL.DEPARTURE_DATE' | translate}}</mat-label>
        <mat-form-field [floatLabel]="'never'" appearance="outline" class="bus-dest-search">
          <input type="date" matInput [(ngModel)]="busTerminalService.filter.departureTime" (ngModelChange)="busTerminalService.search()"
            autocomplete="off" spellcheck="false">
          <button tabindex="-1" type="button" matSuffix mat-icon-button aria-label="Clear" (click)="(busTerminalService.filter.departureTime = ''); resetKeyword()"
            *ngIf="busTerminalService.filter.departureTime">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </div>
    <mat-divider></mat-divider>
    <div class="bus-terminal-card d-flex flex-wrap overflow-auto justify-content-center"
      style="height: 90%; align-content: flex-start; overflow-x:hidden"
      *ngIf="!busTerminalService.isLoading || (busTerminalService.isLoading && busTerminalService.filteredBusTerminals.length > 0)">
      <!-- <div class="h-100 w-100 bus-terminal-card d-flex flex-wrap overflow-auto"
      style="height: 90%; align-content: flex-start; overflow-x:hidden"
      *ngIf="!busTerminalService.isLoading || (busTerminalService.isLoading && busTerminalService.filteredBusTerminals.length > 0)"> -->
      <ng-container *ngFor="let busTerminal of busTerminalService.filteredBusTerminals">
        <app-bus-terminal-schedule-detail class="mx-1 my-3 d-flex justify-content-center align-items-center"
          style="width: 550px; height:310px" [busTerminalSchedule]="busTerminal"></app-bus-terminal-schedule-detail>
      </ng-container>
      <div class="d-flex flex-column justify-content-center align-items-center m-6" *ngIf="busTerminalService.isEmpty">
        <div><img src="assets/img/no-data.svg" width="84" /></div>
        <div>{{'GENERAL.NO_DATA' | translate}}</div>
      </div>
    </div>
  </div>


</div>