<div class="p-3">
  <div class="d-flex justify-content-between">
    <div class="name d-flex justify-content-center align-items-center">{{selectedBusOperator.name}}</div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <mat-card class="bus-card mx-1" mat-raised-button>{{selectedBusOperator.code.toUpperCase()}}</mat-card>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menuBus"><mat-icon
          fontSet="material-icons-outlined">more_vert</mat-icon></button>
    </div>
  </div>
  <div>
    <mat-menu #menuBus="matMenu">
      <button mat-menu-item (click)="openBusOperatorEditDialog()"><mat-icon
          fontSet="material-icons-outlined">edit</mat-icon>{{'GENERAL.EDIT' | translate}}</button>
      <button mat-menu-item (click)="openBusOperatorDeleteDialog()"><mat-icon
          fontSet="material-icons-outlined">delete</mat-icon>{{'GENERAL.DELETE' | translate}}</button>
    </mat-menu>
  </div>
</div>
<div style="height: calc(100% - 100px)">
  <mat-tab-group animationDuration="0ms" style="height: 100%">
    <mat-tab label="{{'GENERAL.INFO' | translate}}">
      <div class="my-3">
        <div class="mb-2">
          <div class="pl-1 font-weight-bold">{{'GENERAL.USER_BASIC_INFO_DESC_BUS_OP'| translate}}</div>
        </div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.CODE' | translate}}</td>
              <td><span>{{selectedBusOperator.code}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.NAME' | translate}}</td>
              <td><span>{{selectedBusOperator.name}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.ABBR_NAME' | translate}}</td>
              <td><span>{{selectedBusOperator.abbrName}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="my-3">
        <div class="mb-2 pl-1 font-weight-bold">{{'GENERAL.TIME_INFO_DESC'|translate}}</div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.LAST_UPDATE' | translate}}</td>
              <td>
                <span *ngIf="selectedBusOperator.lastUpdate">{{selectedBusOperator.lastUpdate | utc2LocalTime : 'DD/MM/YYYY HH:mm'}}
                  ({{selectedBusOperator.lastUpdate | utc2LocalTime | timeago }})</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.UPDATED_BY' | translate}}</td>
              <td>
                <span>{{selectedBusOperator.updatedBy}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>