.app-error-403 {
    .container {
      width: 60%;
      border-radius: 16px;
      padding: 140px 160px 140px 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .h1 {
      font-size: 64px;
      font-weight: bold;
    }
    
  }
  