<div class="app-bus-operator-editor-dialog">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">add</mat-icon>
      </div>
      <span class="title pl-1">{{title}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <form id="myForm" [formGroup]="form" (ngSubmit)="confirm()" class="d-flex flex-column">
      <mat-label class="font-weight-bold">{{'GENERAL.IMAGE' | translate}}</mat-label>
      <div class="mt-1 mb-2 d-flex flex-column justify-content-center">
        <a *ngIf="!fileUploadService.imageSrc" class="ml-1" mat-button [routerLink]=""
          (click)="fileUpload.click()">{{'GENERAL.SELECT_FILE' | translate}}</a>
        <input type="file" accept=".png,.jpg,.jpeg" (change)="avatarUpload($event)"
          #fileUpload style="display:none">
        <div class="d-flex align-items-center justify-content-center">
          <img *ngIf="fileUploadService.imageSrc" src="{{fileUploadService.imageSrc}}"
            style="width:200px;object-fit:cover" />
        </div>
        <div class="d-flex justify-content-center">
          <button mat-button type="button" tabindex="-1" color="warn" *ngIf="fileUploadService.imageSrc"
            (click)="fileUploadService.removeImage()"><span>{{'GENERAL.CLEAR_ITEM' | translate}}</span></button>
        </div>
      </div>

      <mat-label class="font-weight-bold">{{'GENERAL.CODE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="code" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['code'].value" matSuffix mat-icon-button
          (click)="form.controls['code'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['code'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.NAME' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="name" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['name'].value" matSuffix mat-icon-button
          (click)="form.controls['name'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['name'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.ABBR_NAME' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="abbrName" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['abbrName'].value" matSuffix mat-icon-button
          (click)="form.controls['abbrName'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['abbrName'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="(!form.valid || isSaving)" (click)="confirm()">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isSaving">{{'GENERAL.SAVE' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isSaving">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'GENERAL.CANCEL' | translate}}</button>
  </div>
</div>