:host {

  .card-origin-code,
  .card-dest-code,
  .origin-code,
  .dest-code,
  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card-subtitle {
    margin-bottom: 0px !important;
  }

  .mat-tab-content {
    width: 20vw
  }

  mat-drawer-container {
    width: 40vw
  }

  .bus-stop-list {
    height: 10%;
    cursor: pointer;
  }

  .bus-stop-list-sidenav {
    width: 35%
  }

  .bus-stop-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .box-list {
    border: solid 1px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .box-item {
    padding: 0.5vh;
    border-bottom: solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
  }

  .cdk-drag-placeholder {
    opacity: 0.25;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .box-item:last-child {
    border: none;
  }

  .box-list.cdk-drop-list-dragging .box-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}