<div class="app-bus-stop-editor-dialog">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">add</mat-icon>
      </div>
      <span class="title pl-1">{{title}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <form id="myForm" [formGroup]="form" (ngSubmit)="confirm()" class="d-flex flex-column">
      <!-- <mat-tab-group mat-align-tabs="start" animationDuration="0ms">

        <mat-tab label="{{'GENERAL.INFO' | translate}}"> -->
      <div class="mat-tab-content my-2">
        <mat-label class="font-weight-bold">{{'GENERAL.CODE' | translate}}</mat-label>
        <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
          <input type="text" matInput formControlName="code" autocomplete="off">
          <button tabindex="-1" type="button" *ngIf="form.controls['code'].value" matSuffix mat-icon-button
            (click)="form.controls['code'].setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="form.controls['code'].errors?.['required']">
            {{'GENERAL.REQUIRED_FIELD' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-label class="font-weight-bold">{{'GENERAL.NAME' | translate}}</mat-label>
        <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
          <input type="text" matInput formControlName="name" autocomplete="off">
          <button tabindex="-1" type="button" *ngIf="form.controls['name'].value" matSuffix mat-icon-button
            (click)="form.controls['name'].setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="form.controls['name'].errors?.['required']">
            {{'GENERAL.REQUIRED_FIELD' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-label class="font-weight-bold">{{'GENERAL.OPERATOR_CODE' | translate}}</mat-label>
        <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
          <mat-select formControlName="operatorCode">
            <mat-option *ngFor="let busOperator of busOperatorService.busOperators" [value]="busOperator.code">
              {{ busOperator.abbrName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['operatorCode'].errors?.['required']">
            {{'GENERAL.REQUIRED_FIELD' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-label class="font-weight-bold">{{'GENERAL.ORIGIN_BUS_STOP' | translate}}</mat-label>
        <mat-form-field class="w-100 required" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
          <mat-select formControlName="originBusStopCode">
            <mat-option *ngFor="let busStop of busStopService.busStops" [value]="busStop.code">{{busStop.code}}
              {{busStop.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['originBusStopCode'].errors?.['required']">
            {{'GENERAL.REQUIRED_FIELD' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-label class="font-weight-bold">{{'GENERAL.DEST_BUS_STOP' | translate}}</mat-label>
        <mat-form-field class="w-100 required" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
          <mat-select formControlName="destBusStopCode">
            <mat-option *ngFor="let busStop of busStopService.busStops" [value]="busStop.code">{{busStop.code}}
              {{busStop.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['destBusStopCode'].errors?.['required']">
            {{'GENERAL.REQUIRED_FIELD' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="(!form.valid || isSaving)" (click)="confirm()">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isSaving">{{'GENERAL.SAVE' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isSaving">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'GENERAL.CANCEL' | translate}}</button>
  </div>
</div>