<div class="p-3">
  <div class="d-flex justify-content-between">
    <div class="name d-flex justify-content-center align-items-center">{{selectedBus.code}}</div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <mat-card class="bus-card mx-1" mat-raised-button>{{selectedBus.code.toUpperCase()}}</mat-card>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menuBus"><mat-icon
          fontSet="material-icons-outlined">more_vert</mat-icon></button>
    </div>
  </div>
  <div>
    <mat-menu #menuBus="matMenu">
      <button mat-menu-item (click)="openBusEditDialog()"><mat-icon
          fontSet="material-icons-outlined">edit</mat-icon>{{'GENERAL.EDIT' | translate}}</button>
      <button mat-menu-item (click)="openBusDeleteDialog()"><mat-icon
          fontSet="material-icons-outlined">delete</mat-icon>{{'GENERAL.DELETE' | translate}}</button>
    </mat-menu>
  </div>
</div>
<div style="height: calc(100% - 100px)">
  <mat-tab-group animationDuration="0ms" style="height: 100%">
    <mat-tab label="{{'GENERAL.INFO' | translate}}">
      <div class="my-3">
        <div class="mb-2">
          <div class="pl-1 font-weight-bold">{{'GENERAL.USER_BASIC_INFO_DESC'| translate}}</div>
        </div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.CODE' | translate}}</td>
              <td><span>{{selectedBus.code}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.LICENSE_PLATE' | translate}}</td>
              <td><span>{{selectedBus.licensePlate}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.OPERATOR_CODE' | translate}}</td>
              <td><span>{{selectedBus.operatorCode}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.BUS_TYPE' | translate}}</td>
              <td>
                <span *ngIf="selectedBus.type === 'SD'">{{'GENERAL.SINGLE_DECK' | translate}}</span>
                <span *ngIf="selectedBus.type === 'DD'">{{'GENERAL.DOUBLE_DECK' | translate}}</span>
                <span *ngIf="selectedBus.type === 'BD'">{{'GENERAL.BENDY' | translate}}</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.WHEELCHAIR' | translate}}</td>
              <td>
                <div class="d-flex align-items-center" *ngIf="selectedBus.wheelchair">
                  <span>{{'GENERAL.ACCESSIBLE' | translate}}</span>
                  <mat-icon class="material-icons-outlined pl-1" style="color: green;">accessible</mat-icon>
                </div>
                <div class="d-flex align-items-center" *ngIf="!selectedBus.wheelchair">
                  <span>{{'GENERAL.NOT_ACCESSIBLE' | translate}}</span>
                  <mat-icon class="material-icons-outlined pl-1" style="color: red;">not_accessible</mat-icon>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.DIRECTION' | translate}}</td>
              <td>
                <span *ngIf="selectedBus.direction == 1">{{'GENERAL.ONE_WAY' | translate}}</span>
                <span *ngIf="selectedBus.direction == 2">{{'GENERAL.LOOP' | translate}}</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.ROUTE_CODE' | translate}}</td>
              <td><span>{{selectedBus.routeCode}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.ORIGIN_STOP_CODE' | translate}}</td>
              <td><span>{{selectedBus.originStopCode}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.DEST_STOP_CODE' | translate}}</td>
              <td><span>{{selectedBus.destStopCode}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="my-3">
        <div class="mb-2 pl-1 font-weight-bold">{{'GENERAL.TIME_INFO_DESC' | translate}}</div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.AM_PEAK_FREQ' | translate}}</td>
              <td><span>{{selectedBus.amPeakFreq || 'N/A'}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.AM_OFFPEAK_FREQ' | translate}}</td>
              <td><span>{{selectedBus.amOffpeakFreq || 'N/A'}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.PM_PEAK_FREQ' | translate}}</td>
              <td><span>{{selectedBus.pmPeakFreq || 'N/A'}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.PM_OFFPEAK_FREQ' | translate}}</td>
              <td><span>{{selectedBus.pmOffpeakFreq || 'N/A'}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.LAST_UPDATE' | translate}}</td>
              <td>
                <span *ngIf="selectedBus.lastUpdate">{{selectedBus.lastUpdate | utc2LocalTime : 'DD/MM/YYYY HH:mm'}}
                  ({{selectedBus.lastUpdate | utc2LocalTime | timeago }})</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.UPDATED_BY' | translate}}</td>
              <td>
                <span>{{selectedBus.updatedBy}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <!-- <mat-tab label="{{'GENERAL.PLATFORM' | translate}}">
      <app-station-platform-tab [platformList]="platformListByStation" [station]="station"></app-station-platform-tab>
    </mat-tab> -->
  </mat-tab-group>
</div>