<div class="app-bus-route-module module-header d-flex align-items-center justify-content-between px-1">
  <div class="d-flex align-items-center">
    <mat-icon fontSet="material-icons-outlined" class="pr-1">linear_scale</mat-icon>
    <span class="mat-subheading-1 mb-0 font-weight-bold">{{'GENERAL.BUS_ROUTE' | translate}}</span>
  </div>
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="openNewBusRouteDialog()">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()">
      <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="busRouteService.isLoading" class="w-100" style="position: absolute"><mat-progress-bar
    mode="indeterminate"></mat-progress-bar></div>

<div class="module-body d-flex" style="overflow: hidden !important;">
  <div class="bus-route-list" style="width: 20%">
    <div class="p-1" style="height: 5%;">
      <mat-form-field [floatLabel]="'never'" appearance="outline" class="w-100 pb-0">
        <input type="text" matInput placeholder="{{'GENERAL.SEARCH_BUS_ROUTE_HINT' | translate}}"
          [(ngModel)]="busRouteService.filter.keyword" (keyup)="busRouteService.search()" autocomplete="off"
          spellcheck="false">
        <button tabindex="-1" type="button" matSuffix mat-icon-button aria-label="Clear" (click)="resetKeyword()"
          *ngIf="busRouteService.filter.keyword">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="px-1 overflow-auto" style="height: 95%;">
      <ng-container *ngIf="busRouteService.busRoutes.length > 0">
        <mat-selection-list #busRoutesList [multiple]="false"
          (selectionChange)="handleSelectionChange(busRoutesList.selectedOptions.selected)">
          <mat-list-option *ngFor="let busRoute of busRouteService.filteredBusRoutes" [value]="busRoute">
            <mat-list-item>
              <div class="d-flex flex-column" style="width: 90%;">
                <div class="d-flex align-items-center justify-content-between w-100">
                  <span class="title" matTooltip="{{busRoute.code}}">{{'GENERAL.ROUTE' | translate}}
                    {{busRoute.code}}</span>
                </div>
                <span class="sub-title" style="margin-top:4px;">{{'GENERAL.TOTAL_BUS_STOP' | translate}}:
                  {{busRoute.totalBusStop}}</span>
              </div>
            </mat-list-item>
          </mat-list-option>
        </mat-selection-list>
      </ng-container>
      <div class="d-flex flex-column justify-content-center align-items-center m-4" *ngIf="busRouteService.isEmpty">
        <div><img src="assets/img/no-data.svg" width="84" /></div>
        <div>{{'GENERAL.NO_DATA' | translate}}</div>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="align-items-center" style="width: 80%;" *ngIf="selectedBusRoute">
    <app-bus-route-detail [selectedBusRoute]="selectedBusRoute"></app-bus-route-detail>
  </div>
</div>