.app-error-500 {
    .container {
      width: 60%;
      border-radius: 16px;
      padding: 140px 160px 140px 160px;
    }
  
    .h1 {
      font-size: 64px;
      font-weight: bold;
    }
  
    .desc {
      width: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  