<div class="app-error-500 h-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="mat-h1 text-align-center mb-1 h1">500</div>
        <div class="mat-h2 text-align-center mb-1 p-2 body-500">{{'ERROR.500_TITLE' | translate}}</div>
        <div class="d-flex justify-content-center">
            <div class="mb-1 desc body-500">{{'ERROR.500_DESC' | translate}}</div>
        </div>
        <!-- <div class="mt-3 d-flex align-items-center justify-content-center">
            <button color="primary" mat-flat-button (click)="goBack()">{{'GENERAL.RETURN' | translate}}</button>
        </div> -->
    </div>
</div>