<div class="module-header d-flex align-items-center justify-content-between px-1">
  <div class="d-flex align-items-center">
    <mat-icon fontSet="material-icons-outlined" class="pr-1">departure_board</mat-icon>
    <span class="mat-subheading-1 mb-0 font-weight-bold">{{'GENERAL.BUS_STOP_SCHEDULE' | translate}}</span>
  </div>
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="refresh()">
      <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="busStopScheduleService.isLoading" class="w-100" style="position: absolute"><mat-progress-bar
    mode="indeterminate"></mat-progress-bar></div>

<div class="module-body d-flex flex-wrap justify-content-center align-items-center" style="overflow: auto;">
  <div class="d-flex flex-wrap card-container p-1"
    *ngIf="!busStopScheduleService.isLoading || (busStopScheduleService.isLoading && busStopScheduleService.busStopSchedules.length > 0)">
    <ng-container *ngFor="let busStopSchedule of busStopScheduleService.busStopSchedules">
      <app-bus-stop-schedule-detail class="mr-1" [busStopSchedule]="busStopSchedule"></app-bus-stop-schedule-detail>
    </ng-container>
    <div class="d-flex flex-column m-4" *ngIf="busStopScheduleService.isEmpty">
      <div><img src="assets/img/no-data.svg" width="84" /></div>
      <div class="d-flex justify-content-center">{{'GENERAL.NO_DATA' | translate}}</div>
    </div>
  </div>
</div>