:host {
  height: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;

  .module-header {
    height: 40px;
  }

  .module-body {
    height: calc(100% - 45px);
    overflow: auto;

    .list-container {
      display: flex;
      flex-direction: column;
    }

    .info-container {
      width: 100%;
      overflow: auto;
    }
  }

  ::ng-deep {
    .mat-list-item {
      height: 60px !important;
      box-sizing: border-box;

      // .mat-list-item-content {
      //   align-items: flex-start !important;
      // }
    }
  }


  .title {
    font-weight: bold;
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sub-title {
    font-size: 12px;
    line-height: 12px;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: inherit;
      height: fit-content;
    }
  }

  .avatar-symbol {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ::ng-deep mat-form-field.pb-0 .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}