<div class="app-bus-editor-dialog">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">add</mat-icon>
      </div>
      <span class="title pl-1">{{title}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <form id="myForm" [formGroup]="form" (ngSubmit)="confirm()" class="d-flex flex-column">
      <mat-label class="font-weight-bold">{{'GENERAL.IMAGE' | translate}}</mat-label>
      <div class="mt-1 mb-2 d-flex flex-column justify-content-center">
        <a *ngIf="!fileUploadService.imageSrc" class="ml-1" mat-button [routerLink]=""
          (click)="fileUpload.click()">{{'GENERAL.SELECT_FILE' | translate}}</a>
        <input type="file" accept=".png,.jpg,.jpeg" (change)="avatarUpload($event)" #fileUpload style="display:none">
        <div class="d-flex align-items-center justify-content-center">
          <img *ngIf="fileUploadService.imageSrc" src="{{fileUploadService.imageSrc}}"
            style="width:200px;object-fit:cover" />
        </div>
        <div class="d-flex justify-content-center">
          <button mat-button type="button" tabindex="-1" color="warn" *ngIf="fileUploadService.imageSrc"
            (click)="fileUploadService.removeImage()"><span>{{'GENERAL.CLEAR_ITEM' | translate}}</span></button>
        </div>
      </div>

      <mat-label class="font-weight-bold">{{'GENERAL.BUS_CODE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="code" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['code'].value" matSuffix mat-icon-button
          (click)="form.controls['code'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['code'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.LICENSE_PLATE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="text" matInput formControlName="licensePlate" autocomplete="off">
        <button tabindex="-1" type="button" *ngIf="form.controls['licensePlate'].value" matSuffix mat-icon-button
          (click)="form.controls['licensePlate'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['licensePlate'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.OPERATOR_CODE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="operatorCode">
          <mat-option *ngFor="let busOperator of busOperatorService.busOperators" [value]="busOperator.code">
            {{ busOperator.abbrName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['operatorCode'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.BUS_TYPE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="type">
          <mat-option value="SD">{{'GENERAL.SINGLE_DECK' | translate}}</mat-option>
          <mat-option value="DD">{{'GENERAL.DOUBLE_DECK' | translate}}</mat-option>
          <mat-option value="BD">{{'GENERAL.BENDY' | translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['type'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.DIRECTION' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="direction">
          <mat-option value="1">{{'GENERAL.ONE_WAY' | translate}}</mat-option>
          <mat-option value="2">{{'GENERAL.LOOP' | translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['direction'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.ROUTE_CODE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="routeCode">
          <mat-option *ngFor="let busRoute of busRouteService.busRoutes" [value]="busRoute.code">
            {{'GENERAL.ROUTE' | translate}} {{busRoute.code}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['routeCode'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.ORIGIN_STOP_CODE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="originStopCode">
          <mat-option *ngFor="let busStop of busStopService.busStops" [value]="busStop.code">
            {{ busStop.code }} {{ busStop.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['originStopCode'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-label class="font-weight-bold">{{'GENERAL.DEST_STOP_CODE' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <mat-select formControlName="destStopCode">
          <mat-option *ngFor="let busStop of busStopService.busStops" [value]="busStop.code">
            {{ busStop.code }} {{ busStop.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['destStopCode'].errors?.['required']">
          {{'GENERAL.REQUIRED_FIELD' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="wheelchair" class="pt-1 pb-2" style="width:fit-content"><mat-label
          class="font-weight-bold">{{'GENERAL.WHEELCHAIR' | translate}}</mat-label></mat-checkbox>

    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="(!form.valid || isSaving)" (click)="confirm()">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isSaving">{{'GENERAL.SAVE' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isSaving">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'GENERAL.CANCEL' | translate}}</button>
  </div>
</div>