<mat-sidenav-container class="h-100">
  <mat-sidenav mode="side" opened="{{appService.isSidebarOn}}">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="sidebar-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="setActiveNode(node)" [ngClass]="{ 'highlight': (router.url.replace('/main/', '')) == (node.url.replace('./', '')) }">
        <div class="mat-tree-node px-1" mat-ripple [routerLink]="node.url">
          <mat-icon fontSet="material-icons-outlined" class="menu-icon pr-2" [class.d-none]="node.icon == null">{{node.icon}}</mat-icon>
          <div class="w-100" [ngClass]="{ 'highlight': (router.url.replace('/main/', '')) == (node.url.replace('./', '')) }">{{node.name}}</div>
        </div>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node px-1" matTreeNodeToggle mat-ripple>
          <mat-icon fontSet="material-icons-outlined" class="menu-icon pr-2" [class.d-none]="node.icon == null">{{node.icon}}</mat-icon>
          <div class="w-100">{{node.name}}</div>
          <mat-icon fontSet="material-icons-outlined" class="px-2">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </div>
        <div [class.invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
    <div class="w-100 py-2 d-flex justify-content-center verNo">
      <div>{{verNo}}</div>
    </div>
  </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
