:host {
  display: block;
  height: 100%;
  box-sizing: border-box;

  .mat-sidenav {
    margin-top: 3px;
  }  

  .sidebar-tree {
    width: 220px;

    .mat-nested-tree-node div[role=group] {
      padding-left: 32px;
      .mat-tree-node {
        min-height: 36px;  
      }
    }

    .mat-tree-node {
      cursor: pointer;
      user-select: none;
      margin: 0px 2px;
      border-radius: 8px;    
    }
  }

  .invisible {
    display: none;
  }

  .verNo {
    position: absolute;
    bottom: 0px;
  }
}
