<mat-card class="w-100 h-100" *ngIf="busTerminalSchedule != null">
  <mat-card-header class="align-items-center w-100 mb-1">
    <mat-card-title>{{busTerminalSchedule.operatorCode}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <div style="display: flex; width: 100%; justify-content: end;">
      <button mat-icon-button [matMenuTriggerFor]="menuBus">
        <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
      </button>
    </div>
    <div>
      <mat-menu #menuBus="matMenu">
        <button mat-menu-item (click)="openBusTerminalScheduleInfoDialog()"><mat-icon fontSet="material-icons-outlined">info</mat-icon>{{'GENERAL.INFO' |
          translate}}</button>
        <button mat-menu-item (click)="openBusTerminalScheduleEditDialog()"><mat-icon fontSet="material-icons-outlined">edit</mat-icon>{{'GENERAL.EDIT' |
          translate}}</button>
        <button mat-menu-item (click)="openBusTerminalScheduleDeleteDialog()"><mat-icon fontSet="material-icons-outlined">delete</mat-icon>{{'GENERAL.DELETE' |
          translate}}</button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-time">
      <div class="d-flex justify-content-center flex-column location-duration">
        <p class="card-duration-time is-departure">{{busTerminalSchedule.departureTime | dateTime: 'time-2' }}</p>
        <p class="location-text">{{busTerminalSchedule.origin}}</p>
      </div>
      <div class="card-duration-gap-line">
        <span class="card-total-duration-text">{{getDataDiff(busTerminalSchedule.departureTime,
          busTerminalSchedule.arrivalTime)}}</span>
      </div>
      <div class="d-flex justify-content-center flex-column location-duration">
        <p class="card-duration-time is-arrival">{{busTerminalSchedule.arrivalTime | dateTime: 'time-2'}}</p>
        <p class="location-text">{{busTerminalSchedule.destination}}</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-footer class="d-flex align-items-center justify-content-center">
    <mat-card-subtitle class="mx-1 my-1">
      <div class="bus-terminal-detail d-flex align-items-center w-100">
        <div class="total-seat d-flex align-items-center px-1">
          <mat-icon fontSet="material-icons-outlined">chair</mat-icon>
          <span class="pl-1">{{busTerminalSchedule.totalSeat}}</span>
        </div>

        <div class="bus-type d-flex align-items-center px-1">
          <mat-icon fontSet="material-icons-outlined">directions_bus</mat-icon>
          <span class="pl-1" *ngIf="busTerminalSchedule.type == 'Executive'">{{'GENERAL.EXECUTIVE' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.type == 'First Class'">{{'GENERAL.FIRST_CLASS' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.type == 'Double Decker'">{{'GENERAL.DOUBLE_DECK' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.type == 'Single Decker'">{{'GENERAL.SINGLE_DECK' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.type == 'VIP'">{{'GENERAL.VIP' | translate}}</span>
        </div>

        <div class="bus-departure-date d-flex align-items-center px-1">
          <mat-icon fontSet="material-icons-outlined">date_range</mat-icon>
          <span class="pl-1">{{busTerminalSchedule.departureTime | dateTime: 'date'}}</span>
        </div>

        <div class="bus-terminal-status d-flex align-items-center px-1">
          <span class="pl-1 font-weight-bold">{{'GENERAL.STATUS' | translate}}: </span>
          <span class="pl-1" *ngIf="busTerminalSchedule.status == 'boarding'" >{{'GENERAL.BOARDING' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.status == 'departed'" >{{'GENERAL.DEPARTED' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.status == 'delay'" >{{'GENERAL.DELAY' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.status == 'cancelled'" >{{'GENERAL.CANCELLED' | translate}}</span>
          <span class="pl-1" *ngIf="busTerminalSchedule.status == 'on_time'" >{{'GENERAL.ON_TIME' | translate}}</span>
        </div>
      </div>
    </mat-card-subtitle>
  </mat-card-footer>

</mat-card>