:host{
  ::ng-deep .mat-card-header .mat-card-title {
    margin-bottom: 0 !important;
}

  .card-time {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 2vh;
  }

  .card-duration-time .is-departure {
    margin-right: 20px;
    width: 68px;
  }

  .card-duration-time {
    -webkit-box-flex: 0;
    flex: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #212121;
    margin: 0 !important;
  }

  .card-duration-gap-line {
    position: relative;
    -webkit-box-flex: 0;
    flex: none;
    width: 207px;
    height: 1px;
    background-color: #eee;
  }

  .card-duration-time .is-arrival {
    position: relative;
    min-width: 46px;
    margin-left: 20px;
  }

  .card-total-duration-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-box-flex: 0;
    flex: none;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    color: #757575;
    border-radius: 24px;
    border: 1px solid #eee;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
  }

  mat-card-content {
    height: 40%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2.6em;
  }

  .mat-card-footer {
    margin: 0;
    padding: 0 !important;

    .bus-terminal-detail {
      padding: 0;
    }
  }

  .location-duration{
    padding: 0 10px;
    align-items: center;
  }

  .location-text{
    text-align: center;
  }
}