<div class="app-bus-stop-module module-header d-flex align-items-center justify-content-between px-1">
  <div class="d-flex align-items-center">
    <mat-icon fontSet="material-icons-outlined" class="pr-1">report</mat-icon>
    <span class="mat-subheading-1 mb-0 font-weight-bold">{{'GENERAL.BUS_STOP' | translate}}</span>
  </div>
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="openNewBusStopDialog()">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()">
      <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="busStopService.isLoading" class="w-100" style="position: absolute"><mat-progress-bar
    mode="indeterminate"></mat-progress-bar></div>

<div class="module-body d-flex" style="overflow: hidden !important;">
  <div class="bus-stop-list" style="width: 20%">
    <div class="p-1" style="height: 5%;">
      <mat-form-field [floatLabel]="'never'" appearance="outline" class="w-100 pb-0">
        <input type="text" matInput placeholder="{{'GENERAL.SEARCH_BUS_STOP_HINT' | translate}}"
          [(ngModel)]="busStopService.filter.keyword" (keyup)="busStopService.search()" autocomplete="off"
          spellcheck="false">
        <button tabindex="-1" type="button" matSuffix mat-icon-button aria-label="Clear" (click)="resetKeyword()"
          *ngIf="busStopService.filter.keyword">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="px-1 overflow-auto" style="height: 95%;">
      <ng-container *ngIf="busStopService.busStops.length > 0">
        <mat-selection-list #busStopList [multiple]="false"
          (selectionChange)="handleSelectionChange(busStopList.selectedOptions.selected)">
          <mat-list-option *ngFor="let busStop of busStopService.filteredBusStops" [value]="busStop">
            <mat-list-item>
              <div matListItemAvatar class="mr-3">
                <div class="d-flex align-items-center justify-content-center profile">
                  <button *ngIf="!busStop.avatar" mat-mini-fab color="accent" class="profile-image">
                    {{busStop.name[0]|uppercase}}
                  </button>
                  <button *ngIf="busStop.avatar" mat-mini-fab color="accent" class="profile-image">
                    <img src="{{busStop.imageUrl}}" style="width:100%; object-fit:cover; aspect-ratio:1/1 ;">
                  </button>
                </div>
              </div>
              <div class="d-flex flex-column" style="width: 90%;">
                <div class="d-flex align-items-center justify-content-between w-100">
                  <span class="title" matTooltip="{{busStop.name}}">{{busStop.name}}</span>
                </div>
                <span class="sub-title" style="margin-top:4px;">{{busStop.code}}</span>
              </div>
            </mat-list-item>
          </mat-list-option>
        </mat-selection-list>
      </ng-container>
      <div class="d-flex flex-column justify-content-center align-items-center m-4" *ngIf="busStopService.isEmpty">
        <div><img src="assets/img/no-data.svg" width="84" /></div>
        <div>{{'GENERAL.NO_DATA' | translate}}</div>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="align-items-center" style="width: 80%;" *ngIf="selectedBusStop">
    <app-bus-stop-detail [selectedBusStop]="selectedBusStop"></app-bus-stop-detail>
  </div>
</div>