:host {
  .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  mat-list-option:last-child {
    margin-bottom: 4%;
  }
}