<mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <button mat-icon-button (click)="toggleSidebar()" class="primary">
            <mat-icon>menu</mat-icon>
        </button>
        <img *ngIf="!(tokenService.getThemeColor()=='theme-green' || tokenService.getThemeColor()=='theme-light-green' 
        || tokenService.getThemeColor()=='theme-lime' || tokenService.getThemeColor()=='theme-yellow' || tokenService.getThemeColor()=='theme-orange'
        || tokenService.getThemeColor()=='theme-grey');
        else change_logo" src="assets/img/system/recozense_white_icon.png" height="32" class="mx-1" />
            <ng-template #change_logo>
                <img src="assets/img/system/recozense_white_icon.png" [ngStyle]="{ 'filter': 'invert(100%)' }" height="32" class="mx-1"/>
            </ng-template>
        <button mat-button (click)="backToMain()" class="px-0"><span mat-title class="header-name">{{title}}</span></button>
    </div>
    <div>
        <div class="d-flex align-items-center">
            <div class="d-flex px-1">
                <button mat-icon-button [matMenuTriggerFor]="menuApps" class="primary" matTooltip="{{'GENERAL.RZ_APPS' | translate}}">
                    <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menuTheme" class="primary" matTooltip="{{'GENERAL.THEME' | translate}}">
                    <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
                </button>
                <button mat-icon-button class="primary" [class.d-none]="appService.currentThemeMode == 'light-mode'"
                    #tooltip="matTooltip" matTooltip="{{'GENERAL.DARK_MODE' | translate}}"
                    (click)="changeMode('light-mode')">
                    <mat-icon fontSet="material-icons-outlined">dark_mode</mat-icon>
                </button>
                <button mat-icon-button class="primary" [class.d-none]="appService.currentThemeMode =='dark-mode'"
                    #tooltip="matTooltip" matTooltip="{{'GENERAL.LIGHT_MODE' | translate}}"
                    (click)="changeMode('dark-mode')">
                    <mat-icon fontSet="material-icons-outlined">light_mode</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menuLanguage">
                    <span [class.d-none]="translate.currentLang !='en'">English (US)</span>
                    <span [class.d-none]="translate.currentLang !='ms'">Bahasa Melayu</span>
                    <span [class.d-none]="translate.currentLang !='zh'">简体中文</span>
                    <span [class.d-none]="translate.currentLang !='th'">ภาษาไทย</span>
                </button>
            </div>
            <div>
                <div class="avatar" *ngIf="appService.avatar!='';else showAvatarSymbol" [matMenuTriggerFor]="menuUser">
                    <img src="{{appService.avatar}}">
                </div>
                <ng-template #showAvatarSymbol>
                    <button mat-mini-fab [matMenuTriggerFor]="menuUser" color="accent">
                        {{tokenService.getName().charAt(0).toUpperCase()}}
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</mat-toolbar>
<div class="outlet-container">
    <router-outlet></router-outlet>
</div>

<mat-menu #menuApps="matMenu" class="panel-apps" direction="horizontal">
    <div class="menu-apps">
        <button mat-menu-item *ngFor="let component of appService.serviceComponentSubscribedArray"
            (click)="openLink(component.url, component.newTab, component.thirdParty)">
            <img [src]="component.img" height="48" width="48"/>
            <div class="title">
                <span *ngIf="component.name != 'GENERAL.RIMS' && component.name != 'GENERAL.BIMS'">{{component.name|translate}}</span>
                <span *ngIf="component.name == 'GENERAL.RIMS'">RIMS</span>
                <span *ngIf="component.name == 'GENERAL.BIMS'">BIMS</span>
            </div>
        </button>
    </div>
</mat-menu>

<mat-menu #menuLanguage="matMenu">
    <div class="menu-language">
        <button mat-menu-item (click)="changeLanguage('en')"><img src="assets/img/flag/united-state.png" width="40"
                class="pr-1" />English (US)</button>
        <button mat-menu-item (click)="changeLanguage('ms')"><img src="assets/img/flag/malaysia.png" width="40"
                style="object-fit:cover;height:50px" class="pr-1" />Bahasa Melayu</button>
        <button mat-menu-item (click)="changeLanguage('zh')"><img src="assets/img/flag/china.png" width="40"
                class="pr-1" />简体中文</button>
        <button mat-menu-item (click)="changeLanguage('th')"><img src="assets/img/flag/thailand.png" width="40"
                class="pr-1" />ภาษาไทย</button>
    </div>
</mat-menu>

<mat-menu #menuTheme="matMenu">
    <div class="menu-theme">
        <div class="d-flex align-items-center">
            <button mat-menu-item (click)="changeTheme('theme-red')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-red'"
                    style="background:#F44336;color:white"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-pink')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-pink'"
                    style="background:#E91E63;color:white"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-purple')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-purple'"
                    style="background:#9C27B0;color:white"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-deep-purple')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-deep-purple'"
                    style="background:#673AB7;color:white"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-indigo')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-indigo'"
                    style="background:#3F51B5;color:white"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-blue')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-blue'"
                    style="background:#2196F3;color:black"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
        </div>
        <div class="d-flex align-items-center">
            <button mat-menu-item (click)="changeTheme('theme-light-blue')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-light-blue'"
                    style="background:#03A9F4;color:black"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-cyan')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-cyan'"
                    style="background:#00BCD4;color:black"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-teal')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-teal'"
                    style="background:#009688;color:white"><mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-green')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-green'"
                    style="background:#4CAF50;color:black"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-light-green')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-light-green'"
                    style="background:#8BC34A;color:black"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-lime')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-lime'"
                    style="background:#CDDC39;color:black"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
        </div>
        <div class="d-flex align-items-center">
            <button mat-menu-item (click)="changeTheme('theme-yellow')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-yellow'"
                    style="background:#FFEB3B;color:black"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-orange')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-orange'"
                    style="background:#FF9800;color:black"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-deep-orange')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-deep-orange'"
                    style="background:#FF5722;color:black"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-brown')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-brown'"
                    style="background:#795548;color:white"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-grey')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-grey'"
                    style="background:#9E9E9E;color:white"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
            <button mat-menu-item (click)="changeTheme('theme-blue-grey')">
                <div class="color" [class.active]="appService.currentThemeColor=='theme-blue-grey'"
                    style="background:#607D8B;color:white"> <mat-icon class="material-icons-outlined">done</mat-icon>
                </div>
            </button>
        </div>
    </div>
</mat-menu>

<mat-menu #menuUser="matMenu">
    <div class="menu-user">
        <div class="user-profile d-flex flex-column justify-content-center p-2">
            <div class="mat-subheading-1">{{'GENERAL.HELLO' | translate}}, {{tokenService.getName()}}!</div>
            <div class="d-flex align-items-center">
                <mat-icon fontSet="material-icons-outlined" class="mr-1">email</mat-icon>
                <div class="email">{{tokenService.getEmail()}}</div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="signOut()"><mat-icon
                fontSet="material-icons-outlined">logout</mat-icon>{{'GENERAL.SIGN_OUT' | translate}}</button>
    </div>
</mat-menu>