:host {
    display: block;
    height: 100vh;

    .outlet-container {
        height: calc(100% - 50px);
    }

    .mat-toolbar-single-row {
        height: 50px;
      }
}

// ::ng-deep .mat-menu-content {
//     padding: 0 !important;
// }

.menu-theme {
    padding: 0 8px;

    .mat-menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px !important;

        .color {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            min-width: 32px;
            min-height: 32px;
            border-radius: 20px;

            .material-icons-outlined {
                display: none;
            }
        }

        .color.active {
            .material-icons-outlined {
                display: block;
                margin: 0;
            }
        }
    }
    .mat-menu-item:hover {
        transform: scale(1.15) !important;
        z-index: 1 !important;
      }
}

.menu-language {
    
    .mat-menu-item {
        display: flex;
        align-items: center;
        line-height: 40px;
        height: 40px;
    }
}

.menu-user {
    .mat-menu-item {
        line-height: 40px;
        height: 40px;
    }
}

::ng-deep {
    .mat-menu-panel.panel-apps { 
        width: 332px; max-width: none; 
    } 
}

.menu-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 8px 16px;
    box-sizing: border-box;

    button.mat-menu-item {
        width: 100px !important;
        height: 100px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        img {
            margin-bottom: 8px;
        }

        .title {
            font-weight: 500;
            font-size: 13px;
            line-height: 1.2em;
            text-overflow: ellipsis;
            word-wrap: break-word;
            white-space: nowrap;
            overflow: hidden;
            width: -webkit-fill-available;
            text-align: center;
        }
    }

    button.mat-menu-item:hover {
        height: auto;
        .title {
             white-space:normal;
             overflow: visible;
        }
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    img {
        width: inherit;
        height: fit-content;
    }
}

.header-name {
    font-size: 20px;
    font-weight: bold;
}