:host{
  .bus-card {
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

  .status-div {
    display: table;
    border-radius: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
}