<div class="p-3">
  <div class="d-flex justify-content-between">
    <div class="name d-flex justify-content-center align-items-center">{{selectedBusStop.name}}</div>
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <mat-card class="bus-card mx-1" mat-raised-button>{{selectedBusStop.code.toUpperCase()}}</mat-card>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menuBusStop"><mat-icon
          fontSet="material-icons-outlined">more_vert</mat-icon></button>
    </div>
  </div>
  <div>
    <mat-menu #menuBusStop="matMenu">
      <button mat-menu-item (click)="openBusStopEditDialog()"><mat-icon
          fontSet="material-icons-outlined">edit</mat-icon>{{'GENERAL.EDIT' | translate}}</button>
      <button mat-menu-item (click)="openBusStopDeleteDialog()"><mat-icon
          fontSet="material-icons-outlined">delete</mat-icon>{{'GENERAL.DELETE' | translate}}</button>
    </mat-menu>
  </div>
</div>
<div style="height: calc(100% - 100px)">
  <mat-tab-group animationDuration="0ms" style="height: 100%">
    <mat-tab label="{{'GENERAL.INFO' | translate}}">
      <div class="my-3">
        <div class="mb-2">
          <div class="pl-1 font-weight-bold">{{'GENERAL.USER_BASIC_INFO_DESC_BUS_STOP'| translate}}</div>
        </div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.CODE' | translate}}</td>
              <td><span>{{selectedBusStop.code}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.NAME' | translate}}</td>
              <td><span>{{selectedBusStop.name}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.STATUS' | translate}}</td>
              <td>
                <div class="px-1 status-div" [style.background-color]="getStatusColor(selectedBusStop.status)">
                  <span class="font-weight-bold">{{selectedBusStop.status}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.ROAD_NAME' | translate}}</td>
              <td><span>{{selectedBusStop.roadName}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.LANDMARK' | translate}}</td>
              <td><span>{{selectedBusStop.landmark}}</span></td>
            </tr>
            <tr>
              <td>{{'GENERAL.TIMEZONE_UTC' | translate}}</td>
              <td>
                <span>{{selectedBusStop.timezoneUTC}}</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.CITY' | translate}}</td>
              <td>
                <span>{{selectedBusStop.city}}</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.COUNTRY' | translate}}</td>
              <td>
                <span>{{selectedBusStop.country}}</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.COORDINATES' | translate}}</td>
              <td style="height: 70vh;">
                <div class="w-100 h-100">
                  <google-map height="100%" width="100%" [options]="options" [center]="center" [zoom]="zoom"
                    (mapMousemove)="move($event)">
                    <map-marker #marker="mapMarker" [position]="center" [options]="markerOptions"
                      (mapClick)="openInfoWindow(marker)">
                      <map-info-window #infoWindow>
                        <div class="d-flex flex-column">
                          <span class="mb-1 font-weight-bold">{{'GENERAL.NAME' | translate}}:
                            {{selectedBusStop.name}}</span>
                          <span class="font-weight-bold">{{'GENERAL.CODE' | translate}}:
                            {{selectedBusStop.code}}</span>
                        </div>
                      </map-info-window>
                    </map-marker>
                  </google-map>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="my-3">
        <div class="mb-2 pl-1 font-weight-bold">{{'GENERAL.TIME_INFO_DESC'|translate}}</div>
        <table class="stripe info-table">
          <tbody>
            <tr>
              <td>{{'GENERAL.LAST_UPDATE' | translate}}</td>
              <td>
                <span *ngIf="selectedBusStop.lastUpdate">{{selectedBusStop.lastUpdate | utc2LocalTime : 'DD/MM/YYYY
                  HH:mm'}}
                  ({{selectedBusStop.lastUpdate | utc2LocalTime | timeago }})</span>
              </td>
            </tr>
            <tr>
              <td>{{'GENERAL.UPDATED_BY' | translate}}</td>
              <td>
                <span>{{selectedBusStop.updatedBy}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>